In [1]:
import os
import sys
import pandas as pd
import numpy as np
import datetime as dt
import sqlalchemy as sa
import pyodbc
import warnings
import urllib

# Suppress warnings if necessary
warnings.filterwarnings('ignore')

# Ensure that the path to custom modules is correct and add it to sys.path
path_to_classes = "../2. Code/Classes"
sys.path.append(os.path.abspath(path_to_classes))

# Import custom modules
from Credentials_Loader import CredentialLoader
from Preprocessing_Application_N import DataPreprocessor

# Initialize the CredentialLoader and load credentials
credential_loader = CredentialLoader()
credentials = credential_loader.load_credentials()  # Ensure this method exists and properly reads from a .env or similar file

# Retrieve credentials
username = credentials['username']
password = credentials['password']
server = credentials['server']
database = credentials['reporting_db']
driver = '{ODBC Driver 17 for SQL Server}'  # Adjust based on your database and installed ODBC driver

# Print the database name to verify successful credential loading
print(database)

# Initialize the DataPreprocessor
processor = DataPreprocessor(server, database, username, password, driver)

# Print the current working directory for debugging
print("Current Working Directory:", os.getcwd())


# Set the path to the SQL file (ensure the path is correct relative to the current working directory)
path_to_sql = "../1. Data/Loan Portfolio Deli v2.sql"

# Fetch data using the DataPreprocessor
df = processor.fetch_data_from_sql(path_to_sql)


## almost never happnens 
df['CoappFlag'] = np.where((df['CoappFlag'] != 0) & (df['CoappFlag'] != 1) | (df['CoappFlag'].isna()), 0,  df['CoappFlag'])

main = df[df.CoappFlag == 0]

co = df[df.CoappFlag == 1]

main = main[~main.AccountNumber.isin(co.AccountNumber)]

df = pd.concat([main,co])

df = df[df.AccountStatus.isin(['OPEN','FROZEN','COLLECTION'])]

reporting-db
Current Working Directory: /Users/andreasnilsson/Library/CloudStorage/OneDrive-Nstart/Skrivbordet/Repository Homes/Behavior_Scorecard-DATA-223/2. Code

In [2]:
df[df.AccountNumber =='7700172']

,SnapshotDate,AccountNumber,IsOpen,AccountStatus,CurrentAmount,MOB,DisbursedDate,RemainingTenor,CoappFlag,Kronofogden,...,ExposureAtFirst60,ExposureAtFirst90,ExposureAtFirst120,ExposureAtFirstFrozen,forberanceDate,FBE_eftergift,ForberanceIn3Months,ForberanceIn6Months,ForberanceIn9Months,ForberanceIn12Months
11955,2024-05-31,7700172,1,OPEN,82826.57,29.0,2021-12-15,106,1.0,0,...,None,None,None,None,2024-01-24,0,0,1,1,1

In [3]:
FBE_ = df[df.FBE_eftergift == 1]
FBE_no = df[df.FBE_eftergift == 0]

# Step 2: Remove rows from FBE_no that have identical 'SnapshotDate' and 'AccountNumber' in FBE_
# Create a Boolean Series to identify rows to keep in FBE_no
mask = ~FBE_no[['SnapshotDate', 'AccountNumber']].apply(tuple, 1).isin(FBE_[['SnapshotDate', 'AccountNumber']].apply(tuple, 1))
# Apply the mask to filter FBE_no
FBE_no_filtered = FBE_no[mask]

# Step 3: Concatenate FBE_ and FBE_no_filtered into a new DataFrame
df = pd.concat([FBE_, FBE_no_filtered])

In [4]:
df

,SnapshotDate,AccountNumber,IsOpen,AccountStatus,CurrentAmount,MOB,DisbursedDate,RemainingTenor,CoappFlag,Kronofogden,...,ExposureAtFirst60,ExposureAtFirst90,ExposureAtFirst120,ExposureAtFirstFrozen,forberanceDate,FBE_eftergift,ForberanceIn3Months,ForberanceIn6Months,ForberanceIn9Months,ForberanceIn12Months
5356,2024-05-31,7130784,1,OPEN,137841.09,51.0,2020-02-05,120,0.0,0,...,None,None,None,None,2024-05-23,1,1,1,1,1
6328,2024-05-31,7168180,1,OPEN,307483.99,48.0,2020-05-29,192,0.0,0,...,None,None,None,None,2024-04-04,1,1,1,1,1
9188,2024-05-31,7252893,1,OPEN,50511.20,37.0,2021-04-21,82,0.0,0,...,None,None,None,None,2024-03-28,1,1,1,1,1
9393,2024-05-31,7269152,1,OPEN,270529.86,35.0,2021-06-09,204,0.0,0,...,None,None,None,None,2024-03-26,1,1,1,1,1
9732,2024-05-31,7268717,1,OPEN,58689.93,35.0,2021-06-08,131,0.0,0,...,None,None,None,None,2024-03-18,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21819,2024-05-31,9069311,1,OPEN,72430.00,0.0,2024-05-30,96,1.0,0,...,None,None,None,None,None,0,0,0,0,0
21820,2024-05-31,9069329,1,OPEN,490000.00,0.0,2024-05-30,144,1.0,0,...,None,None,None,None,None,0,0,0,0,0
21827,2024-05-31,9069808,1,OPEN,154495.00,0.0,2024-05-30,144,1.0,0,...,None,None,None,None,None,0,0,0,0,0
21829,2024-05-31,9070087,1,OPEN,50000.00,0.0,2024-05-30,60,1.0,0,...,None,None,None,None,None,0,0,0,0,0
21838,2024-05-31,9071085,1,OPEN,494995.00,0.0,2024-05-31,180,1.0,0,...,None,None,None,None,None,0,0,0,0,0

In [5]:
path = "../1. Data"
os.chdir(path)

MacroInstrument = pd.read_excel('Macro_Instrument.xlsx')

#df.to_csv('BSC_Today.csv', index=False)

MacroInstrument = MacroInstrument[['Date','Instrument Rolling Mean']]
MacroInstrument['Instrument Rolling Mean'] = np.where(MacroInstrument['Instrument Rolling Mean'].notna(), MacroInstrument['Instrument Rolling Mean'],1 )    ## Will have 1 if NAN but this shall be updated each month 
MacroInstrument['SnapshotDate'] =  pd.to_datetime(MacroInstrument['Date'])
MacroInstrument

         Date  Instrument Rolling Mean SnapshotDate
0  2019-01-31                 1.000000   2019-01-31
1  2019-02-28                 1.000000   2019-02-28
2  2019-03-31                 1.000000   2019-03-31
3  2019-04-30                 1.000000   2019-04-30
4  2019-05-31                 0.988059   2019-05-31
..        ...                      ...          ...
65 2024-06-30                 0.993619   2024-06-30
66 2024-07-31                 0.992386   2024-07-31
67 2024-08-31                 1.000000   2024-08-31
68 2024-09-30                 1.000000   2024-09-30
69 2024-10-31                 1.000000   2024-10-31

[70 rows x 3 columns]

In [6]:


#######################   CALCULATE BEHVAIOUR MODEL         ##################################
print('hej1')

coefficients = np.array([-0.44414603,  0.18778622 , 0.3539554 ,  0.70178643])
intercept = np.array([0])


# Sample DataFrame (Assuming you already have this in place)
pd_ = df.copy()


# Compute the Z values using your logistic regression model
pd_['Z'] = (pd_.CoappFlag * coefficients[0] +
            pd_.Ever30In6Months * coefficients[1] + 
            pd_.WorstDelinquency6M * coefficients[2] +
            pd_.CurrentDelinquencyStatus * coefficients[3] +

            intercept[0]) 

# Compute the original probabilities
pd_['P'] = pd_['Z'].apply(lambda x: 1 / (1 + np.exp(-x)))

# Coefficients and Intercept from the Calibration model
calibration_coef = 10.11569562
calibration_intercept = -8.18226514



print("Coefficient:", calibration_coef)
print("Intercept:", calibration_intercept)

# Using the original probabilities to calibrate them with the calibration model
pd_['Z_calibrated'] = pd_['P'].apply(lambda x: x * calibration_coef + calibration_intercept)

# Compute the calibrated probabilities
pd_['BehaviourModel'] = pd_['Z_calibrated'].apply(lambda x: 1 / (1 + np.exp(-x)))


pd_ = pd_[['AccountNumber','AccountStatus','SnapshotDate',	'MOB'	,'DisbursedDate',	'CurrentAmount','RemainingTenor','CoappFlag',
'Ever30In6Months',	'WorstDelinquency6M','CurrentDelinquencyStatus',
'WorstDelinquency12M','Ever30In12Months','Ever90In12Months'	,'P','BehaviourModel','Ever90',
'ForberanceIn6Months','ForberanceIn12Months','FBE_eftergift']] ## 'Score'	,'RiskClass', Had these before to controll results (OLD BEHAVIOUR MODEL)


pd_.loc[:, 'DisbursedDate'] = pd.to_datetime(pd_['DisbursedDate'])


BehaviourDone = pd_.copy()

hej1
Coefficient: 10.11569562
Intercept: -8.18226514

In [7]:

#######################         CALCULATE ADMISSION MODEL         ##################################

main_path = "../1. Data/MA Correct join - APL CRB-MLP Today.sql"
co_path = "../1. Data/CO Min score join - APL CBR MLP Today.sql"

preprocessor = DataPreprocessor(server, database, username, password,driver)
final_df = preprocessor.process_data(main_path, co_path)


pd_ = final_df[['SSN','PDScoreNew','UCScore','age' ,'Inquiries12M','UtilizationRatio','Amount','MaritalStatus','ReceivedDate','DisbursedDate','Applicationtype','Ever90',
                'Ever30',
                'AccountNumber','CapitalDeficit','PropertyVolume','PaymentRemarks','IndebtednessRatio','ApplicationScore', 'StartupFee','PaymentRemarksNo'] ]





# Assuming pd_ is your DataFrame and it's already defined

# Get the current date
now = dt.datetime.now()

# Get the first day of the current month
first_day_of_month = dt.datetime(now.year, now.month, 1)

# Ensure 'DisbursedDate' is in datetime format if it's not already
pd_.loc[:, 'DisbursedDate'] = pd.to_datetime(pd_['DisbursedDate'])


# Filter the DataFrame for rows where 'DisbursedDate' is less than the first day of the current month
pd_ = pd_[pd_['DisbursedDate'] < first_day_of_month]

# Print the maximum 'DisbursedDate' from the filtered DataFrame
print(pd_['DisbursedDate'].max())





# Coefficients and Intercept from the Logistic Regression model
coefficients = np.array([2.03675292e+00 ,-2.18071234e-02  ,3.39715771e-02, -2.12322589e-07])  
intercept = np.array([-0.13407141])

print("Coefficients:", coefficients)
print("Intercept:", intercept)


# Compute the Z values using your logistic regression model
pd_['Z'] = (pd_.UCScore * coefficients[0] +
            pd_.age * coefficients[1] + 
            pd_.Inquiries12M * coefficients[2] +
            pd_.PropertyVolume * coefficients[3] + 
            intercept[0]) 

# Compute the original probabilities
pd_['P'] = pd_['Z'].apply(lambda x: 1 / (1 + np.exp(-x)))

# Coefficients and Intercept from the Calibration model
calibration_coef = 3.7812065422080856
calibration_intercept = -4.336067082588543




# Using the original probabilities to calibrate them with the calibration model
pd_['Z_calibrated'] = pd_['P'].apply(lambda x: x * calibration_coef + calibration_intercept)

# Compute the calibrated probabilities
pd_['AdmissionModel'] = pd_['Z_calibrated'].apply(lambda x: 1 / (1 + np.exp(-x)))


AdmissionDone = pd_[['AccountNumber','PDScoreNew','UCScore','age','Inquiries12M','PropertyVolume','AdmissionModel','ApplicationScore']]
AdmissionDone['AccountNumber'] = AdmissionDone['AccountNumber'] #.astype(int)

2024-05-31 00:00:00
Coefficients: [ 2.03675292e+00 -2.18071234e-02  3.39715771e-02 -2.12322589e-07]
Intercept: [-0.13407141]

In [8]:

# Set option to display all columns
pd.set_option('display.max_columns', None)


pd_.tail(60)

,SSN,PDScoreNew,UCScore,age,Inquiries12M,UtilizationRatio,Amount,MaritalStatus,ReceivedDate,DisbursedDate,Applicationtype,Ever90,Ever30,AccountNumber,CapitalDeficit,PropertyVolume,PaymentRemarks,IndebtednessRatio,ApplicationScore,StartupFee,PaymentRemarksNo,Z,P,Z_calibrated,AdmissionModel
5208,Unknown,NaN,0.106,55,9.0,100.00,220000.0,MARRIED,2024-05-29,2024-05-30 00:00:00,2.0,0.0,NaN,9069063,11.0,0.0,0,0.2559,4.272936,NaN,0.0,-0.811823,0.307502,-3.173338,0.040181
5237,Unknown,NaN,0.012,28,-1.0,-100.00,415000.0,MARRIED,2024-05-29,2024-05-31 00:00:00,2.0,0.0,NaN,9071028,1.0,0.0,0,0.0000,0.945136,NaN,0.0,-0.754201,0.319907,-3.126434,0.042030
5211,Unknown,NaN,0.012,29,-1.0,-100.00,110000.0,PARTNER,2024-05-29,2024-05-29 00:00:00,1.0,0.0,NaN,9069121,12.0,513530.0,0,0.0000,1.150730,NaN,0.0,-0.885043,0.292134,-3.231448,0.037999
10618,8E13A0EF667FAFB22C081292427E22CE7679D3CDD0C5B2...,0.061464,0.100,24,7.0,93.10,10000.0,SINGLE,2024-05-29,2024-05-29 00:00:00,0.0,NaN,NaN,9068982,6.0,0.0,0,0.5240,5.406944,995.0,0.0,-0.215966,0.446217,-2.648827,0.066061
10619,651BF8283B7C5D02B8279CA1E3937972CE38FA1F996369...,0.036051,0.064,35,5.0,90.95,50000.0,PARTNER,2024-05-29,2024-05-29 00:00:00,0.0,NaN,NaN,9069188,-1.0,0.0,0,0.1698,1.150730,995.0,0.0,-0.597111,0.355005,-2.993720,0.047710
10621,22855A12FFCDDC82BABA4F2EA3AA0AD662B876D9F125A5...,0.098140,0.469,37,18.0,102.10,30000.0,SINGLE,2024-05-29,2024-05-31 00:00:00,0.0,NaN,NaN,9069220,32.0,0.0,0,1.3888,5.408990,995.0,0.0,0.625791,0.651534,-1.872481,0.133255
10622,364792E3FE064620E1F302EC855F30457A3376F69EF115...,0.027893,0.097,53,4.0,-100.00,10000.0,SINGLE,2024-05-29,2024-05-29 00:00:00,0.0,NaN,NaN,9069238,8.0,0.0,1,0.0985,0.945136,995.0,5.0,-0.956398,0.277600,-3.286404,0.036041
10623,7112804A975C10B0C8922546D655CE2E7A5642F57F66D4...,0.060283,0.176,33,27.0,95.52,15000.0,SINGLE,2024-05-29,2024-05-29 00:00:00,0.0,NaN,NaN,9069246,8.0,0.0,1,0.0602,4.272936,995.0,4.0,0.421995,0.603960,-2.052368,0.113813
10625,11B405BB5453BB9552635C362CB2D2B47210DBB385AB2F...,0.070772,0.137,24,8.0,94.83,35000.0,SINGLE,2024-05-29,2024-05-30 00:00:00,0.0,NaN,NaN,9069394,2.0,0.0,0,0.4173,5.406944,795.0,0.0,-0.106635,0.473367,-2.546170,0.072684
10626,BBDEC67107F071394DDBD136D8049B9CBD3B5DFF04C869...,0.044071,0.113,34,5.0,-100.00,100000.0,PARTNER,2024-05-29,2024-05-31 00:00:00,0.0,NaN,NaN,9069444,0.0,0.0,1,0.1895,3.054894,1995.0,3.0,-0.475503,0.383315,-2.886675,0.052816
10627,9DA87A05CC1169CFD2AC922504ADB9C2D583C74BD1324B...,0.083331,0.235,38,11.0,86.10,30000.0,MARRIED,2024-05-29,2024-05-30 00:00:00,0.0,NaN,NaN,9069469,12.0,0.0,0,0.6420,3.054894,995.0,0.0,-0.110418,0.472424,-2.549736,0.072444
10628,658D0465812412F64081DEE99BEE8B45188C3AD1321322...,0.147166,0.456,35,32.0,97.28,20000.0,PARTNER,2024-05-29,2024-05-30 00:00:00,0.0,NaN,NaN,9069626,59.0,0.0,0,0.9483,3.880232,995.0,0.0,1.118529,0.753716,-1.486112,0.184506
10648,C25198A283311A37B37EB3F1902BA8ED5B87CAE715ED62...,0.146441,0.489,21,14.0,99.64,20000.0,PARTNER,2024-05-29,2024-05-31 00:00:00,0.0,NaN,NaN,9070293,-1.0,0.0,0,0.3785,4.915371,995.0,0.0,0.879553,0.706730,-1.663776,0.159256
10629,2417B0A4293D3B3F930DC873BBDA7769F868E26C6D15CF...,0.160878,0.565,45,26.0,97.51,20000.0,PARTNER,2024-05-29,2024-05-30 00:00:00,0.0,NaN,NaN,9069634,29.0,0.0,0,0.6894,3.376769,995.0,0.0,0.918634,0.714764,-1.633398,0.163365
10632,331FDCB19CD62E1E56B0D61D817E96D061D1230B73F089...,0.028112,0.139,61,13.0,65.52,175000.0,PARTNER,2024-05-29,2024-05-30 00:00:00,0.0,NaN,NaN,9069733,17.0,0.0,1,0.4217,1.790690,4995.0,2.0,-0.739567,0.323099,-3.114363,0.042519
10635,D46395B6B2E96522A070BFBE548D296172010B07F5E1DA...,0.030085,0.023,33,3.0,-100.00,55000.0,PARTNER,2024-05-29,2024-05-30 00:00:00,0.0,NaN,NaN,9069790,43.0,0.0,0,0.8611,1.150730,995.0,0.0,-0.704946,0.330716,-3.085560,0.043707
10636,B91106865C7C1926FF6BDFB65A195EABEAC77F9661813D...,0.044636,0.151,31,9.0,98.55,105000.0,SINGLE,2024-05-29,2024-05-31 00:00:00,0.0,NaN,NaN,9069865,74.0,0.0,0,1.1554,4.272936,3995.0,0.0,-0.196798,0.450959,-2.630900,0.067176
10616,7CDDDA5ABF7CFFFA2205004D021BDBC79D67A1AC6B75D1...,0.059556,0.296,41,21.0,94.84,105000.0,PARTNER,2024-05-29,2024-05-29 00:00:00,0.0,NaN,NaN,9068891,73.0,0.0,0,0.7313,1.790690,4995.0,0.0,0.288119,0.571535,-2.174973,0.102020
5209,Unknown,NaN,0.028,34,5.0,-100.00,480000.0,NULL,2024-05-29,2024-05-31 00:00:00,1.0,0.0,NaN,9069105,20.0,0.0,0,1.1025,1.150730,NaN,0.0,-0.648627,0.343299,-3.037982,0.045739
10615,45ACE92DA11753914BC0A0B8906DEAD87688AE768ABA2F...,0.039675,0.128,48,10.0,84.55,105000.0,DIVORCED,2024-05-29,2024-05-29 00:00:00,0.0,NaN,NaN,9068859,73.0,0.0,0,0.9667,2.517761,4995.0,0.0,-0.580393,0.358842,-2.979211,0.048374
10613,FAB55286C4B047DF0CD2B3BAA5813F84C05A0A3609ED0D...,0.069181,0.248,28,5.0,97.36,50000.0,SINGLE,2024-05-29,2024-05-29 00:00:00,0.0,NaN,NaN,9068818,8.0,0.0,1,1.1874,4.272936,995.0,2.0,-0.069698,0.482582,-2.511323,0.075068
5212,Unknown,NaN,0.004,66,1.0,0.00,52000.0,SINGLE,2024-05-29,2024-05-31 00:00:00,2.0,0.0,NaN,9069147,44.0,633852.0,0,0.2510,1.622251,NaN,0.0,-1.665804,0.158984,-3.734914,0.023318
5217,Unknown,NaN,0.062,23,3.0,-100.00,120000.0,PARTNER,2024-05-29,2024-05-30 00:00:00,2.0,0.0,NaN,9069683,-1.0,0.0,0,-1.0000,1.468840,NaN,0.0,-0.407442,0.399526,-2.825378,0.055968
5219,Unknown,NaN,0.098,33,4.0,-100.00,155000.0,SINGLE,2024-05-29,2024-05-30 00:00:00,2.0,0.0,NaN,9069808,1.0,0.0,0,0.3969,1.622251,NaN,0.0,-0.518218,0.373269,-2.924660,0.050948
10637,90DE87632E83A519633F36B5D4FA591ADDAD4E1ABE2414...,0.110140,0.494,35,17.0,99.63,20000.0,SINGLE,2024-05-29,2024-05-30 00:00:00,0.0,NaN,NaN,9069899,-1.0,0.0,0,1.1155,5.408990,995.0,0.0,0.686352,0.665155,-1.820979,0.139316
10614,055E1CC48F6706A1B252B68CF73F1A1B99185EB42F996F...,0.039460,0.094,27,10.0,-100.00,50000.0,SINGLE,2024-05-29,2024-05-29 00:00:00,0.0,NaN,NaN,9068826,4.0,0.0,1,-1.0000,1.622251,995.0,17.0,-0.191693,0.452223,-2.626119,0.067476
10601,7728BA800D8CF90596E024313333B870024472F17C437F...,0.115551,0.258,24,14.0,77.65,21000.0,PARTNER,2024-05-29,2024-05-29 00:00:00,0.0,NaN,NaN,9068453,1.0,0.0,0,0.3468,3.878741,995.0,0.0,0.343642,0.585075,-2.123778,0.106807
10603,651BF8283B7C5D02B8279CA1E3937972CE38FA1F996369...,0.036051,0.064,35,5.0,90.95,60000.0,PARTNER,2024-05-29,2024-05-29 00:00:00,0.0,NaN,NaN,9068495,-1.0,0.0,0,0.1698,1.150730,495.0,0.0,-0.597111,0.355005,-2.993720,0.047710
10604,0638C63672500A892F75CD4E7969D5742F675DCC1FCCDD...,0.051792,0.154,24,33.0,98.32,156000.0,SINGLE,2024-05-29,2024-05-30 00:00:00,0.0,NaN,NaN,9068529,31.0,0.0,0,0.3810,5.406944,3995.0,0.0,0.777280,0.685094,-1.745587,0.148605
10607,3CA3C1348EB7DC997C95834DF3186430259725B8208969...,0.041157,0.181,50,6.0,92.22,105000.0,PARTNER,2024-05-29,2024-05-30 00:00:00,0.0,NaN,NaN,9068636,28.0,0.0,0,0.2615,1.790690,3995.0,0.0,-0.651946,0.342551,-3.040810,0.045616
10608,3495F4C8D7D79548B8220CF8C0BB1E49EDE452D8CCD263...,0.130980,0.462,38,17.0,83.00,20000.0,PARTNER,2024-05-29,2024-05-31 00:00:00,0.0,NaN,NaN,9068644,9.0,0.0,0,0.6884,3.880232,995.0,0.0,0.555755,0.635470,-1.933225,0.126394
10610,28495472B90BA3D50D449657CAD36E811D50C9B4A9C50B...,0.022197,0.034,56,4.0,-100.00,15000.0,MARRIED,2024-05-29,2024-05-29 00:00:00,0.0,NaN,NaN,9068677,42.0,0.0,0,0.3374,0.669086,995.0,0.0,-1.150134,0.240465,-3.426821,0.031468
10612,DC5641B5FCED63D69B2A30D69685A1553B46C4135FFD32...,0.143523,0.285,54,43.0,43.35,20000.0,MARRIED,2024-05-29,2024-05-29 00:00:00,0.0,NaN,NaN,9068800,50.0,0.0,0,1.8421,1.790690,995.0,0.0,0.729596,0.674717,-1.784824,0.143708
5227,Unknown,NaN,0.003,68,-1.0,0.00,202000.0,MARRIED,2024-05-29,2024-05-31 00:00:00,2.0,0.0,NaN,9070400,11.0,2384000.0,0,0.0000,1.150730,NaN,0.0,-2.150994,0.104238,-3.941920,0.019041
5230,Unknown,NaN,0.026,65,6.0,97.33,150000.0,SINGLE,2024-05-30,2024-05-31 00:00:00,2.0,0.0,NaN,9070509,56.0,2069532.0,0,1.2162,0.945136,NaN,0.0,-1.734158,0.150057,-3.768672,0.022562
10659,EB75F97164DBE6FCF9E7681A466010765D773561AD70C5...,0.114448,0.187,52,11.0,92.85,20000.0,MARRIED,2024-05-30,2024-05-31 00:00:00,0.0,NaN,NaN,9070889,144.0,0.0,1,0.5799,1.790690,995.0,2.0,-0.513482,0.374378,-2.920468,0.051151
10646,EE72032316EE2329334FFE7AFB2D5735097A93AAD32220...,0.042985,0.123,34,14.0,91.14,30000.0,PARTNER,2024-05-30,2024-05-31 00:00:00,0.0,NaN,NaN,9070251,18.0,2279700.0,0,2.7575,3.054894,995.0,0.0,-0.633423,0.346735,-3.024991,0.046310
10654,EA6D823CA89E37AAC535D89B3CF4AD276239924A7B1B34...,0.125249,0.581,35,13.0,102.17,20000.0,DIVORCED,2024-05-30,2024-05-31 00:00:00,0.0,NaN,NaN,9070715,64.0,0.0,0,1.3476,7.881192,995.0,0.0,0.727663,0.674292,-1.786429,0.143511
10652,DD4EFEAF2B2C78044B6757DD5490825E6F41D150C27470...,0.103532,0.272,28,9.0,-100.00,30000.0,SINGLE,2024-05-30,2024-05-31 00:00:00,0.0,NaN,NaN,9070574,7.0,0.0,0,0.1631,4.272936,995.0,0.0,0.115070,0.528736,-2.336808,0.088120
5228,Unknown,NaN,0.003,54,4.0,2.63,360000.0,PARTNER,2024-05-30,2024-05-31 00:00:00,1.0,0.0,NaN,9070418,-1.0,477500.0,0,0.9090,0.669086,NaN,0.0,-1.271044,0.219079,-3.507685,0.029094
10647,CCD6803675FC4F21F7E0E8C25C2495E865A45DBD6C1767...,0.042431,0.042,24,5.0,0.00,165989.0,SINGLE,2024-05-30,2024-05-31 00:00:00,0.0,NaN,NaN,9070269,27.0,0.0,0,0.8727,2.067983,0.0,0.0,-0.402041,0.400822,-2.820476,0.056228
5232,Unknown,NaN,0.047,38,6.0,83.33,490000.0,MARRIED,2024-05-30,2024-05-31 00:00:00,1.0,0.0,NaN,9070533,0.0,0.0,0,0.0193,0.945136,NaN,0.0,-0.663185,0.340024,-3.050364,0.045202
10660,EEA30386C5F5F25630D8061CFFD51F79AF85847C81856D...,0.061918,0.213,43,14.0,-100.00,50000.0,SINGLE,2024-05-30,2024-05-31 00:00:00,0.0,NaN,NaN,9070897,0.0,0.0,0,0.1925,2.517761,995.0,0.0,-0.162347,0.459502,-2.598595,0.069229
5225,Unknown,NaN,0.001,31,2.0,0.00,210000.0,PARTNER,2024-05-30,2024-05-30 00:00:00,1.0,0.0,NaN,9070384,41.0,1328798.0,0,0.0000,1.150730,NaN,0.0,-1.022246,0.264590,-3.335597,0.034370
10644,F8013066D2631007584270A27F967D38ADC7AA4C4E3F05...,0.059226,0.345,54,11.0,98.42,20000.0,NULL,2024-05-30,2024-05-30 00:00:00,0.0,NaN,NaN,9070186,31.0,0.0,1,0.2376,3.202777,995.0,6.0,-0.235289,0.441448,-2.666862,0.064957
5222,Unknown,NaN,0.012,29,-1.0,-100.00,50000.0,PARTNER,2024-05-30,2024-05-30 00:00:00,1.0,0.0,NaN,9070087,12.0,513530.0,0,0.0000,1.150730,NaN,0.0,-0.885043,0.292134,-3.231448,0.037999
10642,FBDA334017710ADC34B6BD568D04C1CC23B81BA202CB0E...,0.049405,0.127,62,20.0,55.51,30000.0,SINGLE,2024-05-30,2024-05-30 00:00:00,0.0,NaN,NaN,9070145,53.0,890000.0,0,0.6358,2.517761,995.0,0.0,-0.736981,0.323665,-3.112224,0.042606
10641,5CB6C5BEBC5789BA71C21A77465B16BE92F28FFD998BB4...,0.048397,0.291,54,12.0,-100.00,25000.0,SINGLE,2024-05-30,2024-05-30 00:00:00,0.0,NaN,NaN,9070053,14.0,0.0,0,0.1736,2.517761,995.0,0.0,-0.311302,0.422797,-2.737384,0.060803
10638,F5A35AF0ED23F0CA802065FE21452B6365EB85E5F6FCE0...,0.031741,0.183,56,9.0,95.96,50000.0,SINGLE,2024-05-30,2024-05-30 00:00:00,0.0,NaN,NaN,9069964,46.0,623596.0,1,0.4860,2.517761,995.0,1.0,-0.809204,0.308060,-3.171228,0.040263
10634,103F1B4FA6CC5FBFF6E5544FCB74DEDB1B1E00C2F18465...,0.040308,0.146,39,7.0,50.77,115000.0,PARTNER,2024-05-30,2024-05-31 00:00:00,0.0,NaN,NaN,9069782,138.0,2214388.0,1,0.2437,1.790690,3995.0,4.0,-0.919547,0.285050,-3.258233,0.037032
10633,BB0AE8503C4FF10764E027D9698469564B51037827A5F1...,0.070812,0.320,32,8.0,-100.00,50000.0,SINGLE,2024-05-30,2024-05-30 00:00:00,0.0,NaN,NaN,9069766,2.0,0.0,1,0.0000,5.408990,995.0,1.0,0.091634,0.522893,-2.358902,0.086361
10631,D032A3F5F798E4CAD42DA65B940A9B6BC608AFAF9D484B...,0.112378,0.184,27,12.0,-100.00,30000.0,PARTNER,2024-05-30,2024-05-30 00:00:00,0.0,NaN,NaN,9069725,-1.0,0.0,0,-1.0000,3.054894,995.0,0.0,0.059558,0.514885,-2.389180,0.084001
10630,6C6ED8ADA86F4F19576009C886495CC6AAE7080CDE2E96...,0.051900,0.111,36,17.0,-100.00,43000.0,MARRIED,2024-05-30,2024-05-30 00:00:00,0.0,NaN,NaN,9069642,23.0,0.0,0,0.1276,3.054894,995.0,0.0,-0.115531,0.471149,-2.554555,0.072121
10661,C624EF7A2BB10A7841BFFCA15B47A2C3F2DD2EA4B99078...,0.167647,0.518,23,15.0,86.29,20000.0,MARRIED,2024-05-30,2024-05-31 00:00:00,0.0,NaN,NaN,9070970,19.0,0.0,0,0.9403,7.179085,995.0,0.0,0.928976,0.716868,-1.625443,0.164456
10663,36A7149FD549D5D501E0115AD9935B3AB4DCA02CF7EBA4...,0.045895,0.075,24,3.0,82.17,40000.0,SINGLE,2024-05-31,2024-05-31 00:00:00,0.0,NaN,NaN,9071069,-1.0,0.0,0,0.3624,2.067983,495.0,0.0,-0.402771,0.400647,-2.821139,0.056192
10662,4D19CBA9F75299962ADD28EB9C54B030DDBCF12E8F9883...,0.113142,0.353,33,25.0,89.62,30000.0,SINGLE,2024-05-31,2024-05-31 00:00:00,0.0,NaN,NaN,9070988,47.0,0.0,0,0.9194,5.408990,995.0,0.0,0.714557,0.671407,-1.797338,0.142175
5234,Unknown,NaN,0.062,33,2.0,99.99,470000.0,PARTNER,2024-05-31,2024-05-31 00:00:00,2.0,0.0,NaN,9070871,23.0,0.0,0,-1.0000,1.622251,NaN,0.0,-0.659485,0.340855,-3.047222,0.045338
10656,0E8D08788A7D15FDEAF1F2C2925975D5A6336E81E1C452...,0.043550,0.108,34,4.0,-100.00,50000.0,PARTNER,2024-05-31,2024-05-31 00:00:00,0.0,NaN,NaN,9070749,27.0,0.0,1,0.0243,3.054894,995.0,3.0,-0.519658,0.372932,-2.925933,0.050886
10657,331FDCB19CD62E1E56B0D61D817E96D061D1230B73F089...,0.028112,0.139,61,13.0,65.52,50000.0,PARTNER,2024-05-31,2024-05-31 00:00:00,0.0,NaN,NaN,9070798,17.0,0.0,1,0.4217,1.790690,995.0,2.0,-0.739567,0.323099,-3.114363,0.042519
10658,66D7D45A01FB7C8139432E5A2E4D55E5A4DE269B72C29F...,0.054388,0.202,48,7.0,-100.00,25000.0,MARRIED,2024-05-31,2024-05-31 00:00:00,0.0,NaN,NaN,9070855,-1.0,0.0,0,1.0005,1.790690,995.0,0.0,-0.531588,0.370147,-2.936467,0.050380

In [ ]:

see['SICR'] = np.where((see.PD_Delta > 0.09) | (see['FBE'] != ''), 1, 0)


## Apply a lifetime factor, this is based from UCBLANCO VINTAGE ANALYSIS, in lower risk but still high 20 % increase and on the rest it will be 10 % increase

see['AdjustedBehaviourScore'] = np.where( (see['SICR'] == 1) &(see['AdjustedBehaviourScore'] < 0.50) , see.AdjustedBehaviourScore * 1.2 , 
                      np.where( (see['SICR'] == 1) &(see['AdjustedBehaviourScore'] >= 0.50) , see.AdjustedBehaviourScore * 1.1 ,   see.AdjustedBehaviourScore )) ## Adding LifeTime Convertion to Stage 2 


see['AdjustedBehaviourScore'] = np.where( see.AdjustedBehaviourScore > 1,1,see.AdjustedBehaviourScore)



see['Stageing'] = np.where(   (see['SICR'] == 0 ) 
                           
                           ,'Stage1',
                           np.where(   see['AdjustedBehaviourScore'] == 1.0 ,'Stage3','Stage2'))


see = see.drop_duplicates()


# Merge lek with MacroInstrument on 'SnapshotDate' in lek and 'Date' in MacroInstrument

see['SnapshotDate'] = pd.to_datetime(see['SnapshotDate'])


see = pd.merge(see, MacroInstrument, on='SnapshotDate', how='left')
see['AdjustedBehaviourScore'] =  see['BehaviourModel'] * see['Instrument Rolling Mean']
see['AdjustedBehaviourScore'] = np.where(  see['CurrentDelinquencyStatus'].isin([4,9]) ,1.0 , see['BehaviourModel'])

In [ ]:

#######################         CREATE SICR LOGIC         ##################################


AdmissionDone = pd_[['AccountNumber','PDScoreNew','UCScore','age','Inquiries12M','PropertyVolume','AdmissionModel','ApplicationScore']]
AdmissionDone['AccountNumber'] = AdmissionDone['AccountNumber'] # .astype(int)

together = pd.merge(BehaviourDone,AdmissionDone , on='AccountNumber', how='left')


## Only OPEN & FROZEN ACCOUNTS
lek = together[ (together.SnapshotDate >= min(together.SnapshotDate) )]



# Ensure DisbursedDate is a datetime object (if not already)
lek['DisbursedDate'] = pd.to_datetime(lek['DisbursedDate'])

# Convert the string to a datetime object
comparison_date = pd.to_datetime('2023-12-20')



lek['AppliedApplicationScore'] = np.where(
    (lek['DisbursedDate'] > comparison_date) &
    (np.round(lek['PDScoreNew'], 2) <= np.round(lek['AdmissionModel'], 2)) &
    (lek['PDScoreNew'].notna()), 
    lek['PDScoreNew'],  

    np.where(
        (lek['DisbursedDate'] > comparison_date) &
        
        lek['PDScoreNew'].isna(),  
        lek['AdmissionModel'],  

        np.where(
            (lek['DisbursedDate'] <= comparison_date), 
            lek['ApplicationScore'] / 100,  
            lek['AdmissionModel'] 
        )
    )
)

lek['AdjustedBehaviourScore'] = np.where(  lek['CurrentDelinquencyStatus'].isin([4,9]) ,1.0 , lek['BehaviourModel'])






see = lek.copy()


see['AppliedApplicationScore'] = np.where(  see.AppliedApplicationScore.isna()   ,0 , see.AppliedApplicationScore )


see['PD_Delta'] = see.AdjustedBehaviourScore - see.AppliedApplicationScore 


see = see[see.MOB.notna()]   ## take away accounts that was closed last monthï£¿

see['PD_Delta'] = np.where(see['PD_Delta'].isna() , 0,see['PD_Delta'])

see = see.sort_values(by='PD_Delta')

# Assuming 'see' is your DataFrame
see['FBE'] = np.where(
    (see['ForberanceIn12Months'] == 1) & (see['CurrentDelinquencyStatus'] > 1) & (see['CurrentDelinquencyStatus'] < 4),
    'monitoring_previous_S3',
    np.where(
        see['FBE_eftergift'] == 1,
        'monitoring_paymentrelief',
        ''
    )
)

In [ ]:


see

,AccountNumber,AccountStatus,SnapshotDate,MOB,DisbursedDate,CurrentAmount,RemainingTenor,CoappFlag,Ever30In6Months,WorstDelinquency6M,CurrentDelinquencyStatus,WorstDelinquency12M,Ever30In12Months,Ever90In12Months,P,BehaviourModel,Ever90,ForberanceIn6Months,ForberanceIn12Months,FBE_eftergift,PDScoreNew,UCScore,age,Inquiries12M,PropertyVolume,AdmissionModel,ApplicationScore,AppliedApplicationScore,AdjustedBehaviourScore,PD_Delta,FBE,SICR,Stageing,Date,Instrument Rolling Mean
0,7100258,OPEN,2024-03-31,58.0,2019-05-27,78810.07,62,1.0,0,0,0,0,0,0,0.390753,0.014350,0,0,0,0,NaN,0.574,56.0,1.0,0.0,0.069846,19.834029,0.19834,0.014350,-0.183990,,0,Stage1,2024-03-31,0.997504
1,7152093,OPEN,2024-03-31,47.0,2020-04-06,124880.13,72,1.0,0,0,0,0,0,0,0.390753,0.014350,0,0,0,0,NaN,0.649,26.0,23.0,0.0,0.213903,19.834029,0.19834,0.014350,-0.183990,,0,Stage1,2024-03-31,0.997504
2,7748197,OPEN,2024-03-31,22.0,2022-05-09,219715.78,121,0.0,0,0,0,0,0,0,0.500000,0.042111,0,0,0,0,NaN,0.584,24.0,11.0,0.0,0.162004,19.834029,0.19834,0.042111,-0.156229,,0,Stage1,2024-03-31,0.997504
3,7681059,OPEN,2024-03-31,29.0,2021-10-15,204019.36,91,0.0,0,0,0,0,0,0,0.500000,0.042111,0,0,0,0,NaN,0.670,24.0,26.0,0.0,0.232348,19.834029,0.19834,0.042111,-0.156229,,0,Stage1,2024-03-31,0.997504
4,7249782,OPEN,2024-03-31,35.0,2021-04-12,88990.86,60,0.0,0,0,0,0,0,0,0.500000,0.042111,0,0,0,0,NaN,0.643,25.0,12.0,0.0,0.175990,19.834029,0.19834,0.042111,-0.156229,,0,Stage1,2024-03-31,0.997504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7356,5005111,FROZEN,2024-03-31,86.0,2017-01-31,203409.68,130,1.0,1,5,9,5,1,1,0.999602,0.873184,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,1.000000,1.000000,,1,Stage3,2024-03-31,0.997504
7357,5000294,FROZEN,2024-03-31,102.0,2015-09-25,338251.56,118,1.0,1,5,9,5,1,1,0.999602,0.873184,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,1.000000,1.000000,,1,Stage3,2024-03-31,0.997504
7358,5003488,FROZEN,2024-03-31,88.0,2016-11-25,94598.46,94,0.0,1,5,9,5,1,1,0.999745,0.873343,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,1.000000,1.000000,,1,Stage3,2024-03-31,0.997504
7359,5000419,FROZEN,2024-03-31,100.0,2015-11-05,143840.89,67,1.0,1,5,9,5,1,1,0.999602,0.873184,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,1.000000,1.000000,,1,Stage3,2024-03-31,0.997504
7360,5002290,FROZEN,2024-03-31,92.0,2016-07-26,249175.02,136,0.0,1,5,9,5,1,1,0.999745,0.873343,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,1.000000,1.000000,,1,Stage3,2024-03-31,0.997504

In [ ]:
output = see[['AccountNumber','SnapshotDate','AppliedApplicationScore','AdjustedBehaviourScore','PD_Delta'	,'FBE','SICR','Stageing']]

In [ ]:
output

,AccountNumber,SnapshotDate,AppliedApplicationScore,AdjustedBehaviourScore,PD_Delta,FBE,SICR,Stageing
0,7100258,2024-03-31,0.19834,0.014350,-0.183990,,0,Stage1
1,7152093,2024-03-31,0.19834,0.014350,-0.183990,,0,Stage1
2,7748197,2024-03-31,0.19834,0.042111,-0.156229,,0,Stage1
3,7681059,2024-03-31,0.19834,0.042111,-0.156229,,0,Stage1
4,7249782,2024-03-31,0.19834,0.042111,-0.156229,,0,Stage1
...,...,...,...,...,...,...,...,...
7356,5005111,2024-03-31,0.00000,1.000000,1.000000,,1,Stage3
7357,5000294,2024-03-31,0.00000,1.000000,1.000000,,1,Stage3
7358,5003488,2024-03-31,0.00000,1.000000,1.000000,,1,Stage3
7359,5000419,2024-03-31,0.00000,1.000000,1.000000,,1,Stage3
7360,5002290,2024-03-31,0.00000,1.000000,1.000000,,1,Stage3

In [ ]:
result = see.groupby('Stageing').agg({
    'AdjustedBehaviourScore': 'mean',
    'Score': 'mean'
}).reset_index()

# Rename columns to match the SQL output
result.columns = ['stageing', 'AdjustedBehaviourScore', 'Score']

# Display the result
print(result)

  stageing  AdjustedBehaviourScore       Score
0   Stage1                0.032779    3.239412
1   Stage2                0.455371   42.858891
2   Stage3                1.000000  100.000000

In [ ]:

# Filter out 'Stage3'
utan = see[see['Stageing'] != 'Stage3']

# Calculate the mean of 'AdjustedBehaviourScore' and 'Score' for the filtered data
result = utan[['AdjustedBehaviourScore', 'Score']].mean().reset_index()

# Convert the result into a DataFrame and rename columns to match SQL output
result = pd.DataFrame(result).T  # Transpose to flip rows and columns
result.columns = result.iloc[0]  # Set the first row as header
result = result[1:]  # Remove the first row after setting it as header

# Rename columns to match the SQL output
result.columns = ['AdjustedBehaviourScore', 'Score']

# Display the result
print(result)

  AdjustedBehaviourScore      Score
0               0.105963  10.100608

In [ ]:
see[see.AccountNumber =='7869431']

,AccountNumber,AccountStatus,SnapshotDate,MOB,DisbursedDate,CurrentAmount,RemainingTenor,CoappFlag,Ever30In6Months,WorstDelinquency6M,...,AdmissionModel,ApplicationScore,AppliedApplicationScore,AdjustedBehaviourScore,PD_Delta,FBE,SICR,Stageing,Date,Instrument Rolling Mean
8728,7869431,OPEN,2024-01-31,11.0,2023-02-21,364286.46,169,1.0,0,0,...,0.071613,1.15073,0.011507,0.01435,0.002843,monitoring_paymentrelief,1,Stage2,NaN,NaN
8800,7869431,OPEN,2023-12-31,10.0,2023-02-21,361845.29,170,1.0,0,0,...,0.071613,1.15073,0.011507,0.01435,0.002843,monitoring_paymentrelief,1,Stage2,NaN,NaN
9126,7869431,OPEN,2024-03-31,13.0,2023-02-21,93561.99,167,1.0,0,0,...,0.071613,1.15073,0.011507,0.01435,0.002843,,0,Stage1,NaN,NaN
9175,7869431,OPEN,2024-02-29,12.0,2023-02-21,93744.51,168,1.0,0,0,...,0.071613,1.15073,0.011507,0.01435,0.002843,,0,Stage1,NaN,NaN
9307,7869431,OPEN,2023-11-30,9.0,2023-02-21,362989.49,171,1.0,0,0,...,0.071613,1.15073,0.011507,0.01435,0.002843,monitoring_paymentrelief,1,Stage2,NaN,NaN

In [ ]:
see['FBE'].value_counts()

FBE
                            34577
monitoring_previous_S3        390
monitoring_paymentrelief      318
Name: count, dtype: int64

In [ ]:
see.AccountNumber.value_counts()

AccountNumber
7152093    5
7743578    5
7730427    5
5533351    5
7733090    5
          ..
9016007    1
7204878    1
9016478    1
9019506    1
9012790    1
Name: count, Length: 7947, dtype: int64

In [ ]:


see[see.AccountNumber == '7700172']

,AccountNumber,AccountStatus,SnapshotDate,MOB,DisbursedDate,CurrentAmount,RemainingTenor,CoappFlag,Ever30In6Months,WorstDelinquency6M,CurrentDelinquencyStatus,WorstDelinquency12M,Ever30In12Months,Ever90In12Months,Score,RiskClass,P,BehaviourModel,Ever90,ForberanceIn6Months,ForberanceIn12Months,FBE_eftergift,PDScoreNew,UCScore,age,Inquiries12M,PropertyVolume,AdmissionModel,ApplicationScore,AppliedApplicationScore,AdjustedBehaviourScore,PD_Delta,FBE,SICR,Stageing,Date,Instrument Rolling Mean
3216,7700172,OPEN,2024-03-31,27.0,2021-12-15,83568.69,108,1.0,0,0,0,0,0,0,1.877308,E3,0.390753,0.01435,0,1,1,1,NaN,0.001,52.0,2.0,1513100.0,0.025158,0.335849,0.003358,0.01435,0.010992,monitoring_paymentrelief,1,Stage2,2024-03-31,0.997504

In [ ]:
## 7810062 , 7733561


see[see.AccountNumber == '7810062'].sort_values(by='MOB')

,AccountNumber,AccountStatus,SnapshotDate,MOB,DisbursedDate,CurrentAmount,RemainingTenor,CoappFlag,Ever30In6Months,WorstDelinquency6M,CurrentDelinquencyStatus,WorstDelinquency12M,Ever30In12Months,Ever90In12Months,Score,RiskClass,P,BehaviourModel,Ever90,ForberanceIn6Months,ForberanceIn12Months,FBE_eftergift,PDScoreNew,UCScore,age,Inquiries12M,PropertyVolume,AdmissionModel,ApplicationScore,AppliedApplicationScore,AdjustedBehaviourScore,PD_Delta,FBE,SICR,Stageing,Date,Instrument Rolling Mean
47756,7810062,OPEN,2022-09-30,0.0,2022-09-22,337917.53,180,1.0,0,0,0,0,0,0,1.150730,N1,0.390753,0.014350,0,0,0,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.014350,0.002843,,0,Stage1,NaN,NaN
47560,7810062,OPEN,2022-10-31,1.0,2022-09-22,337611.45,179,1.0,0,0,0,0,0,0,1.150730,N1,0.390753,0.014350,0,0,0,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.014350,0.002843,,0,Stage1,NaN,NaN
47510,7810062,OPEN,2022-11-30,2.0,2022-09-22,337316.19,178,1.0,0,0,0,0,0,0,1.150730,N1,0.390753,0.014350,0,0,0,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.014350,0.002843,,0,Stage1,NaN,NaN
47549,7810062,OPEN,2022-12-31,3.0,2022-09-22,241283.63,177,1.0,0,0,0,0,0,0,1.484099,E3,0.390753,0.014350,0,0,0,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.014350,0.002843,,0,Stage1,NaN,NaN
49291,7810062,OPEN,2023-01-31,4.0,2022-09-22,241086.65,176,1.0,0,0,0,0,0,0,1.484099,E3,0.390753,0.014350,0,0,0,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.014350,0.002843,,0,Stage1,NaN,NaN
148828,7810062,OPEN,2023-02-28,5.0,2022-09-22,241086.65,175,1.0,0,1,1,1,0,0,13.185339,E5,0.648305,0.164625,0,0,0,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.164625,0.153118,,1,Stage2,NaN,NaN
161756,7810062,OPEN,2023-03-31,6.0,2022-09-22,241086.65,174,1.0,1,2,2,2,1,0,63.410000,E6,0.864728,0.637622,0,0,0,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.637622,0.626114,,1,Stage2,NaN,NaN
161746,7810062,OPEN,2023-04-30,7.0,2022-09-22,240886.15,173,1.0,1,2,2,2,1,0,63.410000,E6,0.864728,0.637622,0,0,0,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.637622,0.626114,,1,Stage2,NaN,NaN
168203,7810062,OPEN,2023-05-31,8.0,2022-09-22,240886.15,172,1.0,1,3,3,3,1,0,92.650000,E7,0.948381,0.803966,0,0,0,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.803966,0.792459,,1,Stage2,NaN,NaN
190240,7810062,OPEN,2023-06-30,9.0,2022-09-22,240886.15,171,1.0,1,4,4,4,1,1,100.000000,E8,0.981414,0.851375,1,0,0,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,1.000000,0.988493,,1,Stage3,NaN,NaN
169837,7810062,OPEN,2023-07-31,10.0,2022-09-22,240514.84,170,1.0,1,4,3,4,1,1,92.650000,E7,0.963202,0.826525,1,0,0,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.826525,0.815017,,1,Stage2,NaN,NaN
158784,7810062,OPEN,2023-08-31,11.0,2022-09-22,255186.89,169,1.0,1,4,0,4,1,1,8.087629,E5,0.761235,0.381817,1,0,0,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.381817,0.370309,,1,Stage2,NaN,NaN
158782,7810062,OPEN,2023-09-30,12.0,2022-09-22,254683.24,168,1.0,1,4,0,4,1,1,8.087629,E5,0.761235,0.381817,1,1,1,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.381817,0.370309,,1,Stage2,NaN,NaN
158783,7810062,OPEN,2023-10-31,13.0,2022-09-22,254173.86,167,1.0,1,4,0,4,1,1,8.087629,E5,0.761235,0.381817,1,1,1,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.381817,0.370309,,1,Stage2,NaN,NaN
158781,7810062,OPEN,2023-11-30,14.0,2022-09-22,253658.69,166,1.0,1,4,0,4,1,1,8.087629,E5,0.761235,0.381817,1,1,1,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.381817,0.370309,,1,Stage2,NaN,NaN
151212,7810062,OPEN,2023-12-31,15.0,2022-09-22,253137.66,165,1.0,1,3,0,4,1,1,8.087629,E5,0.691151,0.233118,1,1,1,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.233118,0.221610,,1,Stage2,NaN,NaN
151213,7810062,OPEN,2024-01-31,16.0,2022-09-22,252610.70,164,1.0,1,3,0,4,1,1,8.087629,E5,0.691151,0.233118,1,1,1,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.233118,0.221610,,1,Stage2,NaN,NaN
47818,7810062,OPEN,2024-02-29,17.0,2022-09-22,252077.75,163,1.0,0,0,0,4,1,1,8.087629,E5,0.390753,0.014350,1,1,1,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.014350,0.002843,,0,Stage1,NaN,NaN
47291,7810062,OPEN,2024-03-31,18.0,2022-09-22,251538.72,162,1.0,0,0,0,4,1,1,8.087629,E5,0.390753,0.014350,1,0,1,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.014350,0.002843,,0,Stage1,NaN,NaN

In [ ]:
see[['']]

In [ ]:
set(see.ForbearanceName)

{'Capitalization',
 'Extension of maturity',
 None,
 'Payment Free Month',
 'Payment free month',
 'Permanent interest cut',
 'Temporary interest cut'}