In [9]:
import pandas as pd
import numpy as np
import datetime as dt
import os
import sqlalchemy as sa
import pyodbc
import warnings
import urllib
warnings.filterwarnings('ignore')



################### GET PAYMENT DATA ##########################

path = "../2. Code/Classes"
os.chdir(path)

from Preprocessing_Application_N import DataPreprocessor



server = 'reporting-db.nystartfinans.net'
database = 'reporting-db'
username = 'admin'
password = 'Tnb1tr9SNUgpJhQAc1lt'
driver = '{ODBC Driver 17 for SQL Server}'  # This is an example for SQL Server, adjust according to your database and installed ODBC driver


# Initialize DataPreprocessor with all required parameters, including the driver
processor = DataPreprocessor(server, database, username, password, driver)


print(os.getcwd())


path = "../../1. Data/Loan Portfolio Deli v2.sql"


df = processor.fetch_data_from_sql(path)



## almost never happnens 
df['CoappFlag'] = np.where((df['CoappFlag'] != 0) & (df['CoappFlag'] != 1) | (df['CoappFlag'].isna()), 0,  df['CoappFlag'])

main = df[df.CoappFlag == 0]
co = df[df.CoappFlag == 1]

main = main[~main.AccountNumber.isin(co.AccountNumber)]

df = pd.concat([main,co])

df = df[df.AccountStatus.isin(['OPEN','FROZEN','COLLECTION'])]

/Users/andreasnilsson/Library/CloudStorage/OneDrive-Nstart/Skrivbordet/Repository Homes/Behavior_Scorecard-DATA-223/2. Code/Classes

In [10]:
df

,SnapshotDate,AccountNumber,AccountStatus,CurrentAmount,MOB,DisbursedDate,RemainingTenor,CoappFlag,Kronofogden,NoKronofogden,...,ExposureAtFirst60,ExposureAtFirst90,ExposureAtFirst120,ExposureAtFirstFrozen,forberanceDate,FBE_eftergift,ForberanceIn3Months,ForberanceIn6Months,ForberanceIn9Months,ForberanceIn12Months
11,2024-03-31,5000377,FROZEN,231472.59,101.0,2015-10-26,135,0.0,0,1,...,None,None,None,None,None,0,0,0,0,0
19,2024-03-31,5000161,FROZEN,204513.19,102.0,2015-09-28,77,0.0,0,1,...,None,None,None,None,None,0,0,0,0,0
20,2024-03-31,5000187,FROZEN,328236.44,101.0,2015-10-09,106,0.0,0,1,...,None,None,None,None,None,0,0,0,0,0
23,2024-03-31,5000245,FROZEN,68219.27,101.0,2015-10-14,90,0.0,0,1,...,None,None,None,None,None,0,0,0,0,0
38,2024-03-31,5000476,FROZEN,216237.03,100.0,2015-11-09,121,0.0,0,1,...,None,None,None,None,None,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19785,2024-03-31,9028473,OPEN,139207.29,0.0,2024-03-27,120,1.0,0,1,...,None,None,None,None,None,0,0,0,0,0
19791,2024-03-31,9029117,OPEN,232967.00,0.0,2024-03-27,144,1.0,0,1,...,None,None,None,None,None,0,0,0,0,0
19799,2024-03-31,9029919,OPEN,450000.00,0.0,2024-03-28,144,1.0,0,1,...,None,None,None,None,None,0,0,0,0,0
19800,2024-03-31,9029935,OPEN,70769.00,0.0,2024-03-28,60,1.0,0,1,...,None,None,None,None,None,0,0,0,0,0
19801,2024-03-31,9029943,OPEN,265000.00,0.0,2024-03-28,144,1.0,1,0,...,None,None,None,None,None,0,0,0,0,0

In [11]:
df[df.AccountNumber =='7700172']

,SnapshotDate,AccountNumber,AccountStatus,CurrentAmount,MOB,DisbursedDate,RemainingTenor,CoappFlag,Kronofogden,NoKronofogden,...,ExposureAtFirst60,ExposureAtFirst90,ExposureAtFirst120,ExposureAtFirstFrozen,forberanceDate,FBE_eftergift,ForberanceIn3Months,ForberanceIn6Months,ForberanceIn9Months,ForberanceIn12Months
9051,2024-03-31,7700172,OPEN,83568.69,27.0,2021-12-15,108,1.0,0,1,...,None,None,None,None,2024-01-24,0,1,1,1,1
17854,2024-03-31,7700172,OPEN,83568.69,27.0,2021-12-15,108,1.0,0,1,...,None,None,None,None,2024-01-24,1,1,1,1,1

In [12]:
FBE_ = df[df.FBE_eftergift == 1]
FBE_no = df[df.FBE_eftergift == 0]

# Step 2: Remove rows from FBE_no that have identical 'SnapshotDate' and 'AccountNumber' in FBE_
# Create a Boolean Series to identify rows to keep in FBE_no
mask = ~FBE_no[['SnapshotDate', 'AccountNumber']].apply(tuple, 1).isin(FBE_[['SnapshotDate', 'AccountNumber']].apply(tuple, 1))
# Apply the mask to filter FBE_no
FBE_no_filtered = FBE_no[mask]

# Step 3: Concatenate FBE_ and FBE_no_filtered into a new DataFrame
df = pd.concat([FBE_, FBE_no_filtered])

In [13]:
df

,SnapshotDate,AccountNumber,AccountStatus,CurrentAmount,MOB,DisbursedDate,RemainingTenor,CoappFlag,Kronofogden,NoKronofogden,...,ExposureAtFirst60,ExposureAtFirst90,ExposureAtFirst120,ExposureAtFirstFrozen,forberanceDate,FBE_eftergift,ForberanceIn3Months,ForberanceIn6Months,ForberanceIn9Months,ForberanceIn12Months
4558,2024-03-31,7144983,OPEN,76428.14,48.0,2020-03-12,155,0.0,0,1,...,None,None,None,None,2023-11-07,1,0,1,1,1
4835,2024-03-31,7156193,OPEN,113674.23,47.0,2020-04-23,131,0.0,0,1,...,None,None,None,None,2024-02-29,1,1,1,1,1
6193,2024-03-31,7261621,OPEN,244588.13,34.0,2021-05-19,119,0.0,0,1,...,None,None,None,None,2024-02-15,1,1,1,1,1
7024,2024-03-31,7259286,OPEN,290399.22,34.0,2021-05-11,145,0.0,0,1,...,None,None,None,None,2024-01-08,1,1,1,1,1
7073,2024-03-31,7294572,OPEN,100833.61,30.0,2021-09-08,113,0.0,0,1,...,None,None,None,None,2024-02-02,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19785,2024-03-31,9028473,OPEN,139207.29,0.0,2024-03-27,120,1.0,0,1,...,None,None,None,None,None,0,0,0,0,0
19791,2024-03-31,9029117,OPEN,232967.00,0.0,2024-03-27,144,1.0,0,1,...,None,None,None,None,None,0,0,0,0,0
19799,2024-03-31,9029919,OPEN,450000.00,0.0,2024-03-28,144,1.0,0,1,...,None,None,None,None,None,0,0,0,0,0
19800,2024-03-31,9029935,OPEN,70769.00,0.0,2024-03-28,60,1.0,0,1,...,None,None,None,None,None,0,0,0,0,0
19801,2024-03-31,9029943,OPEN,265000.00,0.0,2024-03-28,144,1.0,1,0,...,None,None,None,None,None,0,0,0,0,0

In [14]:
################### IMPORT MACRO INSTRUMENT DATA ##########################


path = "../../1. Data"
os.chdir(path)

MacroInstrument = pd.read_excel('Macro_Instrument.xlsx')

#df.to_csv('BSC_Today.csv', index=False)

MacroInstrument = MacroInstrument[['Date','Instrument Rolling Mean']]
MacroInstrument['Instrument Rolling Mean'] = np.where(MacroInstrument['Instrument Rolling Mean'].notna(), MacroInstrument['Instrument Rolling Mean'],1 )    ## Will have 1 if NAN but this shall be updated each month 
MacroInstrument['SnapshotDate'] =  pd.to_datetime(MacroInstrument['Date'])
MacroInstrument

         Date  Instrument Rolling Mean SnapshotDate
0  2019-01-31                 1.000000   2019-01-31
1  2019-02-28                 1.000000   2019-02-28
2  2019-03-31                 1.000000   2019-03-31
3  2019-04-30                 1.000000   2019-04-30
4  2019-05-31                 0.988059   2019-05-31
..        ...                      ...          ...
65 2024-06-30                 0.993619   2024-06-30
66 2024-07-31                 0.992386   2024-07-31
67 2024-08-31                 1.000000   2024-08-31
68 2024-09-30                 1.000000   2024-09-30
69 2024-10-31                 1.000000   2024-10-31

[70 rows x 3 columns]

In [15]:










#######################   CALCULATE BEHVAIOUR MODEL         ##################################
print('hej1')

coefficients = np.array([-0.44414603,  0.18778622 , 0.3539554 ,  0.70178643])
intercept = np.array([0])


# Sample DataFrame (Assuming you already have this in place)
pd_ = df.copy()


# Compute the Z values using your logistic regression model
pd_['Z'] = (pd_.CoappFlag * coefficients[0] +
            pd_.Ever30In6Months * coefficients[1] + 
            pd_.WorstDelinquency6M * coefficients[2] +
            pd_.CurrentDelinquencyStatus * coefficients[3] +

            intercept[0]) 

# Compute the original probabilities
pd_['P'] = pd_['Z'].apply(lambda x: 1 / (1 + np.exp(-x)))

# Coefficients and Intercept from the Calibration model
calibration_coef = 10.11569562
calibration_intercept = -8.18226514



print("Coefficient:", calibration_coef)
print("Intercept:", calibration_intercept)

# Using the original probabilities to calibrate them with the calibration model
pd_['Z_calibrated'] = pd_['P'].apply(lambda x: x * calibration_coef + calibration_intercept)

# Compute the calibrated probabilities
pd_['BehaviourModel'] = pd_['Z_calibrated'].apply(lambda x: 1 / (1 + np.exp(-x)))


pd_ = pd_[['AccountNumber','AccountStatus','SnapshotDate',	'MOB'	,'DisbursedDate',	'CurrentAmount','RemainingTenor','CoappFlag',
'Ever30In6Months',	'WorstDelinquency6M','CurrentDelinquencyStatus',
'WorstDelinquency12M','Ever30In12Months','Ever90In12Months'	,'P','BehaviourModel','Ever90',
'ForberanceIn6Months','ForberanceIn12Months','FBE_eftergift']] ## 'Score'	,'RiskClass', Had these before to controll results (OLD BEHAVIOUR MODEL)


pd_.loc[:, 'DisbursedDate'] = pd.to_datetime(pd_['DisbursedDate'])


BehaviourDone = pd_.copy()





#######################         CALCULATE ADMISSION MODEL         ##################################

main_path = "../1. Data/MA Correct join - APL CRB-MLP Today.sql"
co_path = "../1. Data/CO Min score join - APL CBR MLP Today.sql"

preprocessor = DataPreprocessor(server, database, username, password,driver)
final_df = preprocessor.process_data(main_path, co_path)


pd_ = final_df[['SSN','PDScoreNew','UCScore','age' ,'Inquiries12M','UtilizationRatio','Amount','MaritalStatus','ReceivedDate','DisbursedDate','Applicationtype','Ever90',
                'Ever30',
                'AccountNumber','CapitalDeficit','PropertyVolume','PaymentRemarks','IndebtednessRatio','ApplicationScore', 'StartupFee','PaymentRemarksNo'] ]





# Assuming pd_ is your DataFrame and it's already defined

# Get the current date
now = dt.datetime.now()

# Get the first day of the current month
first_day_of_month = dt.datetime(now.year, now.month, 1)

# Ensure 'DisbursedDate' is in datetime format if it's not already
pd_.loc[:, 'DisbursedDate'] = pd.to_datetime(pd_['DisbursedDate'])


# Filter the DataFrame for rows where 'DisbursedDate' is less than the first day of the current month
pd_ = pd_[pd_['DisbursedDate'] < first_day_of_month]

# Print the maximum 'DisbursedDate' from the filtered DataFrame
print(pd_['DisbursedDate'].max())





# Coefficients and Intercept from the Logistic Regression model
coefficients = np.array([2.03675292e+00 ,-2.18071234e-02  ,3.39715771e-02, -2.12322589e-07])  
intercept = np.array([-0.13407141])

print("Coefficients:", coefficients)
print("Intercept:", intercept)


# Compute the Z values using your logistic regression model
pd_['Z'] = (pd_.UCScore * coefficients[0] +
            pd_.age * coefficients[1] + 
            pd_.Inquiries12M * coefficients[2] +
            pd_.PropertyVolume * coefficients[3] + 
            intercept[0]) 

# Compute the original probabilities
pd_['P'] = pd_['Z'].apply(lambda x: 1 / (1 + np.exp(-x)))

# Coefficients and Intercept from the Calibration model
calibration_coef = 3.7812065422080856
calibration_intercept = -4.336067082588543




# Using the original probabilities to calibrate them with the calibration model
pd_['Z_calibrated'] = pd_['P'].apply(lambda x: x * calibration_coef + calibration_intercept)

# Compute the calibrated probabilities
pd_['AdmissionModel'] = pd_['Z_calibrated'].apply(lambda x: 1 / (1 + np.exp(-x)))


AdmissionDone = pd_[['AccountNumber','PDScoreNew','UCScore','age','Inquiries12M','PropertyVolume','AdmissionModel','ApplicationScore']]
AdmissionDone['AccountNumber'] = AdmissionDone['AccountNumber'] #.astype(int)


#######################         CREATE SICR LOGIC         ##################################


AdmissionDone = pd_[['AccountNumber','PDScoreNew','UCScore','age','Inquiries12M','PropertyVolume','AdmissionModel','ApplicationScore']]
AdmissionDone['AccountNumber'] = AdmissionDone['AccountNumber'] # .astype(int)

together = pd.merge(BehaviourDone,AdmissionDone , on='AccountNumber', how='left')


## Only OPEN & FROZEN ACCOUNTS
lek = together[ (together.SnapshotDate >= min(together.SnapshotDate) )]



# Ensure DisbursedDate is a datetime object (if not already)
lek['DisbursedDate'] = pd.to_datetime(lek['DisbursedDate'])

# Convert the string to a datetime object
comparison_date = pd.to_datetime('2023-12-20')



lek['AppliedApplicationScore'] = np.where(
    (lek['DisbursedDate'] > comparison_date) &
    (np.round(lek['PDScoreNew'], 2) <= np.round(lek['AdmissionModel'], 2)) &
    (lek['PDScoreNew'].notna()), 
    lek['PDScoreNew'],  

    np.where(
        (lek['DisbursedDate'] > comparison_date) &
        
        lek['PDScoreNew'].isna(),  
        lek['AdmissionModel'],  

        np.where(
            (lek['DisbursedDate'] <= comparison_date), 
            lek['ApplicationScore'] / 100,  
            lek['AdmissionModel'] 
        )
    )
)

lek['AdjustedBehaviourScore'] = np.where(  lek['CurrentDelinquencyStatus'].isin([4,9]) ,1.0 , lek['BehaviourModel'])






see = lek.copy()


see['AppliedApplicationScore'] = np.where(  see.AppliedApplicationScore.isna()   ,0 , see.AppliedApplicationScore )


see['PD_Delta'] = see.AdjustedBehaviourScore - see.AppliedApplicationScore 


see = see[see.MOB.notna()]   ## take away accounts that was closed last month

see['PD_Delta'] = np.where(see['PD_Delta'].isna() , 0,see['PD_Delta'])

see = see.sort_values(by='PD_Delta')

# Assuming 'see' is your DataFrame
see['FBE'] = np.where(
    (see['ForberanceIn12Months'] == 1) & (see['CurrentDelinquencyStatus'] > 1) & (see['CurrentDelinquencyStatus'] < 4),
    'monitoring_previous_S3',
    np.where(
        see['FBE_eftergift'] == 1,
        'monitoring_paymentrelief',
        ''
    )
)

hej1
Coefficient: 10.11569562
Intercept: -8.18226514
2024-03-28 00:00:00
Coefficients: [ 2.03675292e+00 -2.18071234e-02  3.39715771e-02 -2.12322589e-07]
Intercept: [-0.13407141]

In [16]:

see['SICR'] = np.where((see.PD_Delta > 0.09) | (see['FBE'] != ''), 1, 0)


## Apply a lifetime factor, this is based from UCBLANCO VINTAGE ANALYSIS, in lower risk but still high 20 % increase and on the rest it will be 10 % increase

see['AdjustedBehaviourScore'] = np.where( (see['SICR'] == 1) &(see['AdjustedBehaviourScore'] < 0.50) , see.AdjustedBehaviourScore * 1.2 , 
                      np.where( (see['SICR'] == 1) &(see['AdjustedBehaviourScore'] >= 0.50) , see.AdjustedBehaviourScore * 1.1 ,   see.AdjustedBehaviourScore )) ## Adding LifeTime Convertion to Stage 2 


see['AdjustedBehaviourScore'] = np.where( see.AdjustedBehaviourScore > 1,1,see.AdjustedBehaviourScore)



see['Stageing'] = np.where(   (see['SICR'] == 0 ) 
                           
                           ,'Stage1',
                           np.where(   see['AdjustedBehaviourScore'] == 1.0 ,'Stage3','Stage2'))


see = see.drop_duplicates()


# Merge lek with MacroInstrument on 'SnapshotDate' in lek and 'Date' in MacroInstrument

see['SnapshotDate'] = pd.to_datetime(see['SnapshotDate'])


see = pd.merge(see, MacroInstrument, on='SnapshotDate', how='left')
see['AdjustedBehaviourScore'] =  see['BehaviourModel'] * see['Instrument Rolling Mean']
see['AdjustedBehaviourScore'] = np.where(  see['CurrentDelinquencyStatus'].isin([4,9]) ,1.0 , see['BehaviourModel'])

In [18]:

# Set option to display all columns
pd.set_option('display.max_columns', None)


see

,AccountNumber,AccountStatus,SnapshotDate,MOB,DisbursedDate,CurrentAmount,RemainingTenor,CoappFlag,Ever30In6Months,WorstDelinquency6M,CurrentDelinquencyStatus,WorstDelinquency12M,Ever30In12Months,Ever90In12Months,P,BehaviourModel,Ever90,ForberanceIn6Months,ForberanceIn12Months,FBE_eftergift,PDScoreNew,UCScore,age,Inquiries12M,PropertyVolume,AdmissionModel,ApplicationScore,AppliedApplicationScore,AdjustedBehaviourScore,PD_Delta,FBE,SICR,Stageing,Date,Instrument Rolling Mean
0,7100258,OPEN,2024-03-31,58.0,2019-05-27,78810.07,62,1.0,0,0,0,0,0,0,0.390753,0.014350,0,0,0,0,NaN,0.574,56.0,1.0,0.0,0.069846,19.834029,0.19834,0.014350,-0.183990,,0,Stage1,2024-03-31,0.997504
1,7152093,OPEN,2024-03-31,47.0,2020-04-06,124880.13,72,1.0,0,0,0,0,0,0,0.390753,0.014350,0,0,0,0,NaN,0.649,26.0,23.0,0.0,0.213903,19.834029,0.19834,0.014350,-0.183990,,0,Stage1,2024-03-31,0.997504
2,7748197,OPEN,2024-03-31,22.0,2022-05-09,219715.78,121,0.0,0,0,0,0,0,0,0.500000,0.042111,0,0,0,0,NaN,0.584,24.0,11.0,0.0,0.162004,19.834029,0.19834,0.042111,-0.156229,,0,Stage1,2024-03-31,0.997504
3,7681059,OPEN,2024-03-31,29.0,2021-10-15,204019.36,91,0.0,0,0,0,0,0,0,0.500000,0.042111,0,0,0,0,NaN,0.670,24.0,26.0,0.0,0.232348,19.834029,0.19834,0.042111,-0.156229,,0,Stage1,2024-03-31,0.997504
4,7249782,OPEN,2024-03-31,35.0,2021-04-12,88990.86,60,0.0,0,0,0,0,0,0,0.500000,0.042111,0,0,0,0,NaN,0.643,25.0,12.0,0.0,0.175990,19.834029,0.19834,0.042111,-0.156229,,0,Stage1,2024-03-31,0.997504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7356,5005111,FROZEN,2024-03-31,86.0,2017-01-31,203409.68,130,1.0,1,5,9,5,1,1,0.999602,0.873184,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,1.000000,1.000000,,1,Stage3,2024-03-31,0.997504
7357,5000294,FROZEN,2024-03-31,102.0,2015-09-25,338251.56,118,1.0,1,5,9,5,1,1,0.999602,0.873184,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,1.000000,1.000000,,1,Stage3,2024-03-31,0.997504
7358,5003488,FROZEN,2024-03-31,88.0,2016-11-25,94598.46,94,0.0,1,5,9,5,1,1,0.999745,0.873343,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,1.000000,1.000000,,1,Stage3,2024-03-31,0.997504
7359,5000419,FROZEN,2024-03-31,100.0,2015-11-05,143840.89,67,1.0,1,5,9,5,1,1,0.999602,0.873184,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,1.000000,1.000000,,1,Stage3,2024-03-31,0.997504
7360,5002290,FROZEN,2024-03-31,92.0,2016-07-26,249175.02,136,0.0,1,5,9,5,1,1,0.999745,0.873343,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00000,1.000000,1.000000,,1,Stage3,2024-03-31,0.997504

In [19]:
output = see[['AccountNumber','SnapshotDate','AppliedApplicationScore','AdjustedBehaviourScore','PD_Delta'	,'FBE','SICR','Stageing']]

In [21]:
output

,AccountNumber,SnapshotDate,AppliedApplicationScore,AdjustedBehaviourScore,PD_Delta,FBE,SICR,Stageing
0,7100258,2024-03-31,0.19834,0.014350,-0.183990,,0,Stage1
1,7152093,2024-03-31,0.19834,0.014350,-0.183990,,0,Stage1
2,7748197,2024-03-31,0.19834,0.042111,-0.156229,,0,Stage1
3,7681059,2024-03-31,0.19834,0.042111,-0.156229,,0,Stage1
4,7249782,2024-03-31,0.19834,0.042111,-0.156229,,0,Stage1
...,...,...,...,...,...,...,...,...
7356,5005111,2024-03-31,0.00000,1.000000,1.000000,,1,Stage3
7357,5000294,2024-03-31,0.00000,1.000000,1.000000,,1,Stage3
7358,5003488,2024-03-31,0.00000,1.000000,1.000000,,1,Stage3
7359,5000419,2024-03-31,0.00000,1.000000,1.000000,,1,Stage3
7360,5002290,2024-03-31,0.00000,1.000000,1.000000,,1,Stage3

In [9]:
result = see.groupby('Stageing').agg({
    'AdjustedBehaviourScore': 'mean',
    'Score': 'mean'
}).reset_index()

# Rename columns to match the SQL output
result.columns = ['stageing', 'AdjustedBehaviourScore', 'Score']

# Display the result
print(result)

  stageing  AdjustedBehaviourScore       Score
0   Stage1                0.032779    3.239412
1   Stage2                0.455371   42.858891
2   Stage3                1.000000  100.000000

In [10]:

# Filter out 'Stage3'
utan = see[see['Stageing'] != 'Stage3']

# Calculate the mean of 'AdjustedBehaviourScore' and 'Score' for the filtered data
result = utan[['AdjustedBehaviourScore', 'Score']].mean().reset_index()

# Convert the result into a DataFrame and rename columns to match SQL output
result = pd.DataFrame(result).T  # Transpose to flip rows and columns
result.columns = result.iloc[0]  # Set the first row as header
result = result[1:]  # Remove the first row after setting it as header

# Rename columns to match the SQL output
result.columns = ['AdjustedBehaviourScore', 'Score']

# Display the result
print(result)

  AdjustedBehaviourScore      Score
0               0.105963  10.100608

In [11]:
see[see.AccountNumber =='7869431']

,AccountNumber,AccountStatus,SnapshotDate,MOB,DisbursedDate,CurrentAmount,RemainingTenor,CoappFlag,Ever30In6Months,WorstDelinquency6M,...,AdmissionModel,ApplicationScore,AppliedApplicationScore,AdjustedBehaviourScore,PD_Delta,FBE,SICR,Stageing,Date,Instrument Rolling Mean
8728,7869431,OPEN,2024-01-31,11.0,2023-02-21,364286.46,169,1.0,0,0,...,0.071613,1.15073,0.011507,0.01435,0.002843,monitoring_paymentrelief,1,Stage2,NaN,NaN
8800,7869431,OPEN,2023-12-31,10.0,2023-02-21,361845.29,170,1.0,0,0,...,0.071613,1.15073,0.011507,0.01435,0.002843,monitoring_paymentrelief,1,Stage2,NaN,NaN
9126,7869431,OPEN,2024-03-31,13.0,2023-02-21,93561.99,167,1.0,0,0,...,0.071613,1.15073,0.011507,0.01435,0.002843,,0,Stage1,NaN,NaN
9175,7869431,OPEN,2024-02-29,12.0,2023-02-21,93744.51,168,1.0,0,0,...,0.071613,1.15073,0.011507,0.01435,0.002843,,0,Stage1,NaN,NaN
9307,7869431,OPEN,2023-11-30,9.0,2023-02-21,362989.49,171,1.0,0,0,...,0.071613,1.15073,0.011507,0.01435,0.002843,monitoring_paymentrelief,1,Stage2,NaN,NaN

In [12]:
see['FBE'].value_counts()

FBE
                            34577
monitoring_previous_S3        390
monitoring_paymentrelief      318
Name: count, dtype: int64

In [13]:
see.AccountNumber.value_counts()

AccountNumber
7152093    5
7743578    5
7730427    5
5533351    5
7733090    5
          ..
9016007    1
7204878    1
9016478    1
9019506    1
9012790    1
Name: count, Length: 7947, dtype: int64

In [23]:


see[see.AccountNumber == '7700172']

,AccountNumber,AccountStatus,SnapshotDate,MOB,DisbursedDate,CurrentAmount,RemainingTenor,CoappFlag,Ever30In6Months,WorstDelinquency6M,CurrentDelinquencyStatus,WorstDelinquency12M,Ever30In12Months,Ever90In12Months,Score,RiskClass,P,BehaviourModel,Ever90,ForberanceIn6Months,ForberanceIn12Months,FBE_eftergift,PDScoreNew,UCScore,age,Inquiries12M,PropertyVolume,AdmissionModel,ApplicationScore,AppliedApplicationScore,AdjustedBehaviourScore,PD_Delta,FBE,SICR,Stageing,Date,Instrument Rolling Mean
3216,7700172,OPEN,2024-03-31,27.0,2021-12-15,83568.69,108,1.0,0,0,0,0,0,0,1.877308,E3,0.390753,0.01435,0,1,1,1,NaN,0.001,52.0,2.0,1513100.0,0.025158,0.335849,0.003358,0.01435,0.010992,monitoring_paymentrelief,1,Stage2,2024-03-31,0.997504

In [26]:
## 7810062 , 7733561


see[see.AccountNumber == '7810062'].sort_values(by='MOB')

,AccountNumber,AccountStatus,SnapshotDate,MOB,DisbursedDate,CurrentAmount,RemainingTenor,CoappFlag,Ever30In6Months,WorstDelinquency6M,CurrentDelinquencyStatus,WorstDelinquency12M,Ever30In12Months,Ever90In12Months,Score,RiskClass,P,BehaviourModel,Ever90,ForberanceIn6Months,ForberanceIn12Months,FBE_eftergift,PDScoreNew,UCScore,age,Inquiries12M,PropertyVolume,AdmissionModel,ApplicationScore,AppliedApplicationScore,AdjustedBehaviourScore,PD_Delta,FBE,SICR,Stageing,Date,Instrument Rolling Mean
47756,7810062,OPEN,2022-09-30,0.0,2022-09-22,337917.53,180,1.0,0,0,0,0,0,0,1.150730,N1,0.390753,0.014350,0,0,0,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.014350,0.002843,,0,Stage1,NaN,NaN
47560,7810062,OPEN,2022-10-31,1.0,2022-09-22,337611.45,179,1.0,0,0,0,0,0,0,1.150730,N1,0.390753,0.014350,0,0,0,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.014350,0.002843,,0,Stage1,NaN,NaN
47510,7810062,OPEN,2022-11-30,2.0,2022-09-22,337316.19,178,1.0,0,0,0,0,0,0,1.150730,N1,0.390753,0.014350,0,0,0,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.014350,0.002843,,0,Stage1,NaN,NaN
47549,7810062,OPEN,2022-12-31,3.0,2022-09-22,241283.63,177,1.0,0,0,0,0,0,0,1.484099,E3,0.390753,0.014350,0,0,0,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.014350,0.002843,,0,Stage1,NaN,NaN
49291,7810062,OPEN,2023-01-31,4.0,2022-09-22,241086.65,176,1.0,0,0,0,0,0,0,1.484099,E3,0.390753,0.014350,0,0,0,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.014350,0.002843,,0,Stage1,NaN,NaN
148828,7810062,OPEN,2023-02-28,5.0,2022-09-22,241086.65,175,1.0,0,1,1,1,0,0,13.185339,E5,0.648305,0.164625,0,0,0,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.164625,0.153118,,1,Stage2,NaN,NaN
161756,7810062,OPEN,2023-03-31,6.0,2022-09-22,241086.65,174,1.0,1,2,2,2,1,0,63.410000,E6,0.864728,0.637622,0,0,0,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.637622,0.626114,,1,Stage2,NaN,NaN
161746,7810062,OPEN,2023-04-30,7.0,2022-09-22,240886.15,173,1.0,1,2,2,2,1,0,63.410000,E6,0.864728,0.637622,0,0,0,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.637622,0.626114,,1,Stage2,NaN,NaN
168203,7810062,OPEN,2023-05-31,8.0,2022-09-22,240886.15,172,1.0,1,3,3,3,1,0,92.650000,E7,0.948381,0.803966,0,0,0,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.803966,0.792459,,1,Stage2,NaN,NaN
190240,7810062,OPEN,2023-06-30,9.0,2022-09-22,240886.15,171,1.0,1,4,4,4,1,1,100.000000,E8,0.981414,0.851375,1,0,0,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,1.000000,0.988493,,1,Stage3,NaN,NaN
169837,7810062,OPEN,2023-07-31,10.0,2022-09-22,240514.84,170,1.0,1,4,3,4,1,1,92.650000,E7,0.963202,0.826525,1,0,0,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.826525,0.815017,,1,Stage2,NaN,NaN
158784,7810062,OPEN,2023-08-31,11.0,2022-09-22,255186.89,169,1.0,1,4,0,4,1,1,8.087629,E5,0.761235,0.381817,1,0,0,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.381817,0.370309,,1,Stage2,NaN,NaN
158782,7810062,OPEN,2023-09-30,12.0,2022-09-22,254683.24,168,1.0,1,4,0,4,1,1,8.087629,E5,0.761235,0.381817,1,1,1,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.381817,0.370309,,1,Stage2,NaN,NaN
158783,7810062,OPEN,2023-10-31,13.0,2022-09-22,254173.86,167,1.0,1,4,0,4,1,1,8.087629,E5,0.761235,0.381817,1,1,1,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.381817,0.370309,,1,Stage2,NaN,NaN
158781,7810062,OPEN,2023-11-30,14.0,2022-09-22,253658.69,166,1.0,1,4,0,4,1,1,8.087629,E5,0.761235,0.381817,1,1,1,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.381817,0.370309,,1,Stage2,NaN,NaN
151212,7810062,OPEN,2023-12-31,15.0,2022-09-22,253137.66,165,1.0,1,3,0,4,1,1,8.087629,E5,0.691151,0.233118,1,1,1,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.233118,0.221610,,1,Stage2,NaN,NaN
151213,7810062,OPEN,2024-01-31,16.0,2022-09-22,252610.70,164,1.0,1,3,0,4,1,1,8.087629,E5,0.691151,0.233118,1,1,1,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.233118,0.221610,,1,Stage2,NaN,NaN
47818,7810062,OPEN,2024-02-29,17.0,2022-09-22,252077.75,163,1.0,0,0,0,4,1,1,8.087629,E5,0.390753,0.014350,1,1,1,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.014350,0.002843,,0,Stage1,NaN,NaN
47291,7810062,OPEN,2024-03-31,18.0,2022-09-22,251538.72,162,1.0,0,0,0,4,1,1,8.087629,E5,0.390753,0.014350,1,0,1,0,NaN,0.024,59.0,8.0,0.0,0.032554,1.15073,0.011507,0.014350,0.002843,,0,Stage1,NaN,NaN

In [ ]:
see[['']]

In [7]:
set(see.ForbearanceName)

{'Capitalization',
 'Extension of maturity',
 None,
 'Payment Free Month',
 'Payment free month',
 'Permanent interest cut',
 'Temporary interest cut'}