In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import os
import sqlalchemy as sa
import pyodbc
import warnings
import urllib
warnings.filterwarnings('ignore')



################### GET PAYMENT DATA ##########################

path = "../2. Code/Classes"
os.chdir(path)

from Preprocessing_Application_N import DataPreprocessor

print('hej')


server = 'reporting-db.nystartfinans.net'
database = 'reporting-db'
username = 'admin'
password = 'Tnb1tr9SNUgpJhQAc1lt'
driver = '{ODBC Driver 17 for SQL Server}'  # This is an example for SQL Server, adjust according to your database and installed ODBC driver


# Initialize DataPreprocessor with all required parameters, including the driver
processor = DataPreprocessor(server, database, username, password, driver)


print(os.getcwd())


path = "../../1. Data/Loan Portfolio Deli v2.sql"


df = processor.fetch_data_from_sql(path)



## almost never happnens 
df['CoappFlag'] = np.where((df['CoappFlag'] != 0) & (df['CoappFlag'] != 1) | (df['CoappFlag'].isna()), 0,  df['CoappFlag'])

main = df[df.CoappFlag == 0]
co = df[df.CoappFlag == 1]

main = main[~main.AccountNumber.isin(co.AccountNumber)]

df = pd.concat([main,co])

df = df[df.AccountStatus.isin(['OPEN','FROZEN','COLLECTION'])]

hej
/Users/andreasnilsson/Library/CloudStorage/OneDrive-Nstart/Skrivbordet/Repository Homes/Behavior_Scorecard-DATA-223/2. Code/Classes

In [2]:
df

,SnapshotDate,AccountNumber,AccountStatus,CurrentAmount,MOB,DisbursedDate,RemainingTenor,CoappFlag,Kronofogden,NoKronofogden,...,ExposureAtFirst120,ExposureAtFirstFrozen,forberanceDate,FBE_eftergift,ForberanceIn3Months,ForberanceIn6Months,ForberanceIn9Months,ForberanceIn12Months,Score,RiskClass
77,2024-01-31,5401138,FROZEN,168762.99,83.0,2017-02-13,78,0.0,0,1,...,168762.99,168762.99,None,0,0,0,0,0,100.000000,E8
80,2024-02-29,5401138,FROZEN,168762.99,84.0,2017-02-13,78,0.0,0,1,...,168762.99,168762.99,None,0,0,0,0,0,100.000000,E8
84,2024-03-31,5401138,FROZEN,168762.99,85.0,2017-02-13,78,0.0,0,1,...,NaN,NaN,None,0,0,0,0,0,100.000000,E8
85,2024-01-31,5058573,FROZEN,227570.96,86.0,2016-11-15,126,0.0,0,1,...,227570.96,227570.96,None,0,0,0,0,0,100.000000,E8
88,2024-02-29,5058573,FROZEN,227570.96,87.0,2016-11-15,126,0.0,0,1,...,227570.96,227570.96,None,0,0,0,0,0,100.000000,E8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57587,2024-02-29,5000294,FROZEN,338251.56,101.0,2015-09-25,118,1.0,0,1,...,676503.12,676503.12,None,0,0,0,0,0,100.000000,E8
57588,2024-03-31,5000385,FROZEN,224655.26,101.0,2015-10-26,123,1.0,0,1,...,NaN,NaN,None,0,0,0,0,0,100.000000,E8
57593,2024-03-31,5000294,FROZEN,338251.56,102.0,2015-09-25,118,1.0,0,1,...,NaN,NaN,None,0,0,0,0,0,100.000000,E8
57594,2024-03-31,5000054,OPEN,170321.46,102.0,2015-09-16,42,1.0,0,1,...,NaN,NaN,None,0,0,0,0,0,1.484099,E3
57595,2024-03-31,5000179,FROZEN,194394.86,102.0,2015-09-28,73,1.0,0,1,...,NaN,NaN,None,0,0,0,0,0,100.000000,E8

In [2]:
df[df.AccountNumber =='7700172']

,SnapshotDate,AccountNumber,AccountStatus,CurrentAmount,MOB,DisbursedDate,RemainingTenor,CoappFlag,Kronofogden,NoKronofogden,...,ExposureAtFirst120,ExposureAtFirstFrozen,forberanceDate,FBE_eftergift,ForberanceIn3Months,ForberanceIn6Months,ForberanceIn9Months,ForberanceIn12Months,Score,RiskClass
6,2024-01-31,7700172,OPEN,84292.54,25,2021-12-15,110,1,0,1,...,None,None,2024-01-24,1,1,1,1,1,1.484099,E3
7,2024-01-31,7700172,OPEN,84292.54,25,2021-12-15,110,1,0,1,...,None,None,2024-01-24,0,1,1,1,1,1.484099,E3
8,2024-02-29,7700172,OPEN,83932.87,26,2021-12-15,109,1,0,1,...,None,None,2024-01-24,1,1,1,1,1,1.484099,E3
9,2024-02-29,7700172,OPEN,83932.87,26,2021-12-15,109,1,0,1,...,None,None,2024-01-24,0,1,1,1,1,1.484099,E3
10,2024-03-31,7700172,OPEN,83568.69,27,2021-12-15,108,1,0,1,...,None,None,2024-01-24,0,1,1,1,1,1.877308,E3
11,2024-03-31,7700172,OPEN,83568.69,27,2021-12-15,108,1,0,1,...,None,None,2024-01-24,1,1,1,1,1,1.877308,E3

In [3]:
FBE_ = df[df.FBE_eftergift == 1]
FBE_no = df[df.FBE_eftergift == 0]

# Step 2: Remove rows from FBE_no that have identical 'SnapshotDate' and 'AccountNumber' in FBE_
# Create a Boolean Series to identify rows to keep in FBE_no
mask = ~FBE_no[['SnapshotDate', 'AccountNumber']].apply(tuple, 1).isin(FBE_[['SnapshotDate', 'AccountNumber']].apply(tuple, 1))
# Apply the mask to filter FBE_no
FBE_no_filtered = FBE_no[mask]

# Step 3: Concatenate FBE_ and FBE_no_filtered into a new DataFrame
df = pd.concat([FBE_, FBE_no_filtered])

In [5]:
df

,SnapshotDate,AccountNumber,AccountStatus,CurrentAmount,MOB,DisbursedDate,RemainingTenor,CoappFlag,Kronofogden,NoKronofogden,...,ExposureAtFirst120,ExposureAtFirstFrozen,forberanceDate,FBE_eftergift,ForberanceIn3Months,ForberanceIn6Months,ForberanceIn9Months,ForberanceIn12Months,Score,RiskClass
3244,2024-01-31,7929300,OPEN,171226.28,6.0,2023-07-06,173,0.0,0,1,...,NaN,NaN,2024-01-31,1,1,1,1,1,4.595843,E4
4026,2024-02-29,7935075,OPEN,190886.45,7.0,2023-07-27,180,0.0,0,1,...,NaN,NaN,2024-02-15,1,1,1,1,1,3.654435,E4
4337,2024-01-31,7910219,OPEN,297931.21,8.0,2023-05-11,231,0.0,0,1,...,NaN,NaN,2023-11-16,1,1,1,1,1,4.595843,E4
4718,2024-03-31,7935075,OPEN,190571.35,8.0,2023-07-27,179,0.0,0,1,...,NaN,NaN,2024-02-15,1,1,1,1,1,3.654435,E4
5410,2024-01-31,7885270,OPEN,164643.72,10.0,2023-03-15,170,0.0,0,1,...,NaN,NaN,2023-11-27,1,1,1,1,1,39.215327,E5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57587,2024-02-29,5000294,FROZEN,338251.56,101.0,2015-09-25,118,1.0,0,1,...,676503.12,676503.12,None,0,0,0,0,0,100.000000,E8
57588,2024-03-31,5000385,FROZEN,224655.26,101.0,2015-10-26,123,1.0,0,1,...,NaN,NaN,None,0,0,0,0,0,100.000000,E8
57593,2024-03-31,5000294,FROZEN,338251.56,102.0,2015-09-25,118,1.0,0,1,...,NaN,NaN,None,0,0,0,0,0,100.000000,E8
57594,2024-03-31,5000054,OPEN,170321.46,102.0,2015-09-16,42,1.0,0,1,...,NaN,NaN,None,0,0,0,0,0,1.484099,E3
57595,2024-03-31,5000179,FROZEN,194394.86,102.0,2015-09-28,73,1.0,0,1,...,NaN,NaN,None,0,0,0,0,0,100.000000,E8

,SnapshotDate,AccountNumber,AccountStatus,CurrentAmount,MOB,DisbursedDate,RemainingTenor,CoappFlag,Kronofogden,NoKronofogden,...,ExposureAtFirst120,ExposureAtFirstFrozen,forberanceDate,FBE_eftergift,ForberanceIn3Months,ForberanceIn6Months,ForberanceIn9Months,ForberanceIn12Months,Score,RiskClass
3244,2024-01-31,7929300,OPEN,171226.28,6.0,2023-07-06,173,0.0,0,1,...,NaN,NaN,2024-01-31,1,1,1,1,1,4.595843,E4
4337,2024-01-31,7910219,OPEN,297931.21,8.0,2023-05-11,231,0.0,0,1,...,NaN,NaN,2023-11-16,1,1,1,1,1,4.595843,E4
5410,2024-01-31,7885270,OPEN,164643.72,10.0,2023-03-15,170,0.0,0,1,...,NaN,NaN,2023-11-27,1,1,1,1,1,39.215327,E5
6032,2024-01-31,7870280,OPEN,269324.46,11.0,2023-02-03,120,0.0,0,1,...,NaN,NaN,2024-01-05,1,1,1,1,1,4.595843,E4
7369,2024-01-31,7844707,OPEN,122654.97,13.0,2022-12-15,131,0.0,0,1,...,NaN,NaN,2024-01-17,1,1,1,1,1,63.410000,E6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57532,2024-01-31,5000609,OPEN,101843.62,98.0,2015-11-26,46,1.0,0,1,...,NaN,NaN,None,0,0,0,0,0,1.877308,E3
57547,2024-01-31,5000385,FROZEN,224655.26,99.0,2015-10-26,123,1.0,0,1,...,449310.52,449310.52,None,0,0,0,0,0,100.000000,E8
57558,2024-01-31,5000054,OPEN,174956.25,100.0,2015-09-16,44,1.0,0,1,...,NaN,NaN,None,0,0,0,0,0,1.484099,E3
57561,2024-01-31,5000294,FROZEN,338251.56,100.0,2015-09-25,118,1.0,0,1,...,676503.12,676503.12,None,0,0,0,0,0,100.000000,E8
57568,2024-01-31,5000179,FROZEN,194394.86,100.0,2015-09-28,73,1.0,0,1,...,388789.72,388789.72,None,0,0,0,0,0,100.000000,E8

In [3]:



################### IMPORT MACRO INSTRUMENT DATA ##########################


path = "../../1. Data"
os.chdir(path)

MacroInstrument = pd.read_excel('Macro_Instrument.xlsx')

#df.to_csv('BSC_Today.csv', index=False)

MacroInstrument = MacroInstrument[['Date','Instrument Rolling Mean']]
MacroInstrument['Instrument Rolling Mean'] = np.where(MacroInstrument['Instrument Rolling Mean'].notna(), MacroInstrument['Instrument Rolling Mean'],1 )    ## Will have 1 if NAN but this shall be updated each month 
MacroInstrument['Date'] =  MacroInstrument['Date'].astype(str)
MacroInstrument






#######################   CALCULATE BEHVAIOUR MODEL         ##################################
print('hej1')

coefficients = np.array([-0.44414603,  0.18778622 , 0.3539554 ,  0.70178643])
intercept = np.array([0])


# Sample DataFrame (Assuming you already have this in place)
pd_ = df.copy()


# Compute the Z values using your logistic regression model
pd_['Z'] = (pd_.CoappFlag * coefficients[0] +
            pd_.Ever30In6Months * coefficients[1] + 
            pd_.WorstDelinquency6M * coefficients[2] +
            pd_.CurrentDelinquencyStatus * coefficients[3] +

            intercept[0]) 

# Compute the original probabilities
pd_['P'] = pd_['Z'].apply(lambda x: 1 / (1 + np.exp(-x)))

# Coefficients and Intercept from the Calibration model
calibration_coef = 9.86439545
calibration_intercept = -8.53541797



print("Coefficient:", calibration_coef)
print("Intercept:", calibration_intercept)

# Using the original probabilities to calibrate them with the calibration model
pd_['Z_calibrated'] = pd_['P'].apply(lambda x: x * calibration_coef + calibration_intercept)

# Compute the calibrated probabilities
pd_['BehaviourModel'] = pd_['Z_calibrated'].apply(lambda x: 1 / (1 + np.exp(-x)))


pd_ = pd_[['AccountNumber','AccountStatus','SnapshotDate',	'MOB'	,'DisbursedDate',	'CurrentAmount','RemainingTenor','CoappFlag',	'Ever30In6Months',	'WorstDelinquency6M','CurrentDelinquencyStatus','WorstDelinquency12M','Ever30In12Months','Ever90In12Months'	,'Score'	,'RiskClass','P','BehaviourModel','Ever90','ForberanceIn6Months','ForberanceIn12Months','FBE_eftergift']]
pd_.loc[:, 'DisbursedDate'] = pd.to_datetime(pd_['DisbursedDate'])


BehaviourDone = pd_.copy()





#######################         CALCULATE ADMISSION MODEL         ##################################

main_path = "../1. Data/MA Correct join - APL CRB-MLP Today.sql"
co_path = "../1. Data/CO Min score join - APL CBR MLP Today.sql"

preprocessor = DataPreprocessor(server, database, username, password,driver)
final_df = preprocessor.process_data(main_path, co_path)


pd_ = final_df[['SSN','PDScoreNew','UCScore','age' ,'Inquiries12M','UtilizationRatio','Amount','MaritalStatus','ReceivedDate','DisbursedDate','Applicationtype','Ever90',
                'Ever30',
                'AccountNumber','CapitalDeficit','PropertyVolume','PaymentRemarks','IndebtednessRatio','ApplicationScore', 'StartupFee','PaymentRemarksNo'] ]





# Assuming pd_ is your DataFrame and it's already defined

# Get the current date
now = dt.datetime.now()

# Get the first day of the current month
first_day_of_month = dt.datetime(now.year, now.month, 1)

# Ensure 'DisbursedDate' is in datetime format if it's not already
pd_.loc[:, 'DisbursedDate'] = pd.to_datetime(pd_['DisbursedDate'])


# Filter the DataFrame for rows where 'DisbursedDate' is less than the first day of the current month
pd_ = pd_[pd_['DisbursedDate'] < first_day_of_month]

# Print the maximum 'DisbursedDate' from the filtered DataFrame
print(pd_['DisbursedDate'].max())





# Coefficients and Intercept from the Logistic Regression model
coefficients = np.array([2.03675292e+00 ,-2.18071234e-02  ,3.39715771e-02, -2.12322589e-07])  
intercept = np.array([-0.13407141])

print("Coefficients:", coefficients)
print("Intercept:", intercept)


# Compute the Z values using your logistic regression model
pd_['Z'] = (pd_.UCScore * coefficients[0] +
            pd_.age * coefficients[1] + 
            pd_.Inquiries12M * coefficients[2] +
            pd_.PropertyVolume * coefficients[3] + 
            intercept[0]) 

# Compute the original probabilities
pd_['P'] = pd_['Z'].apply(lambda x: 1 / (1 + np.exp(-x)))

# Coefficients and Intercept from the Calibration model
calibration_coef = 3.7812065422080856
calibration_intercept = -4.336067082588543




# Using the original probabilities to calibrate them with the calibration model
pd_['Z_calibrated'] = pd_['P'].apply(lambda x: x * calibration_coef + calibration_intercept)

# Compute the calibrated probabilities
pd_['AdmissionModel'] = pd_['Z_calibrated'].apply(lambda x: 1 / (1 + np.exp(-x)))


AdmissionDone = pd_[['AccountNumber','PDScoreNew','UCScore','age','Inquiries12M','PropertyVolume','AdmissionModel','ApplicationScore']]
AdmissionDone['AccountNumber'] = AdmissionDone['AccountNumber'] #.astype(int)


#######################         CREATE SICR LOGIC         ##################################


AdmissionDone = pd_[['AccountNumber','PDScoreNew','UCScore','age','Inquiries12M','PropertyVolume','AdmissionModel','ApplicationScore']]
AdmissionDone['AccountNumber'] = AdmissionDone['AccountNumber'] # .astype(int)

together = pd.merge(BehaviourDone,AdmissionDone , on='AccountNumber', how='left')


## Only OPEN & FROZEN ACCOUNTS
lek = together[ (together.SnapshotDate >= min(together.SnapshotDate) )]



# Ensure DisbursedDate is a datetime object (if not already)
lek['DisbursedDate'] = pd.to_datetime(lek['DisbursedDate'])

# Convert the string to a datetime object
comparison_date = pd.to_datetime('2023-12-20')



lek['AppliedApplicationScore'] = np.where(
    (lek['DisbursedDate'] > comparison_date) &
    (np.round(lek['PDScoreNew'], 2) <= np.round(lek['AdmissionModel'], 2)) &
    (lek['PDScoreNew'].notna()), 
    lek['PDScoreNew'],  

    np.where(
        (lek['DisbursedDate'] > comparison_date) &
        
        lek['PDScoreNew'].isna(),  
        lek['AdmissionModel'],  

        np.where(
            (lek['DisbursedDate'] <= comparison_date), 
            lek['ApplicationScore'] / 100,  
            lek['AdmissionModel'] 
        )
    )
)

lek['AdjustedBehaviourScore'] = np.where(  lek['CurrentDelinquencyStatus'].isin([4,9]) ,1.0 , lek['BehaviourModel'])






see = lek.copy()


see['AppliedApplicationScore'] = np.where(  see.AppliedApplicationScore.isna()   ,0 , see.AppliedApplicationScore )


see['PD_Delta'] = see.AdjustedBehaviourScore - see.AppliedApplicationScore 


see = see[see.MOB.notna()]   ## take away accounts that was closed last month

see['PD_Delta'] = np.where(see['PD_Delta'].isna() , 0,see['PD_Delta'])

see = see.sort_values(by='PD_Delta')

# Assuming 'see' is your DataFrame
see['FBE'] = np.where(
    (see['ForberanceIn12Months'] == 1) & (see['CurrentDelinquencyStatus'] > 1) & (see['CurrentDelinquencyStatus'] < 4),
    'monitoring_previous_S3',
    np.where(
        see['FBE_eftergift'] == 1,
        'monitoring_paymentrelief',
        ''
    )
)

hej1
Coefficient: 9.86439545
Intercept: -8.53541797
2024-03-28 00:00:00
Coefficients: [ 2.03675292e+00 -2.18071234e-02  3.39715771e-02 -2.12322589e-07]
Intercept: [-0.13407141]

In [4]:

see['SICR'] = np.where((see.PD_Delta > 0.0675) | (see['FBE'] != ''), 1, 0)



## Apply a lifetime factor, this is based from UCBLANCO VINTAGE ANALYSIS, in lower risk but still high 20 % increase and on the rest it will be 10 % increase

see['AdjustedBehaviourScore'] = np.where( (see['SICR'] == 1) &(see['AdjustedBehaviourScore'] < 0.50) , see.AdjustedBehaviourScore * 1.2 , 
                      np.where( (see['SICR'] == 1) &(see['AdjustedBehaviourScore'] >= 0.50) , see.AdjustedBehaviourScore * 1.1 ,   see.AdjustedBehaviourScore )) ## Adding LifeTime Convertion to Stage 2 


see['AdjustedBehaviourScore'] = np.where( see.AdjustedBehaviourScore > 1,1,see.AdjustedBehaviourScore)



see['Stageing'] = np.where(   (see['SICR'] == 0 ) 
                           
                           ,'Stage1',
                           np.where(   see['AdjustedBehaviourScore'] == 1.0 ,'Stage3','Stage2'))


see = see.drop_duplicates()


# Merge lek with MacroInstrument on 'SnapshotDate' in lek and 'Date' in MacroInstrument
see = pd.merge(see, MacroInstrument, left_on='SnapshotDate', right_on='Date', how='left')

see['AdjustedBehaviourScore'] =  see['BehaviourModel'] * see['Instrument Rolling Mean']

see['AdjustedBehaviourScore'] = np.where(  see['CurrentDelinquencyStatus'].isin([4,9]) ,1.0 , see['BehaviourModel'])

In [5]:
see[see.AccountNumber =='7869431']

,AccountNumber,AccountStatus,SnapshotDate,MOB,DisbursedDate,CurrentAmount,RemainingTenor,CoappFlag,Ever30In6Months,WorstDelinquency6M,...,AdmissionModel,ApplicationScore,AppliedApplicationScore,AdjustedBehaviourScore,PD_Delta,FBE,SICR,Stageing,Date,Instrument Rolling Mean
7773,7869431,OPEN,2024-02-29,12.0,2023-02-21,93744.51,168,1.0,0,0,...,0.071613,1.15073,0.011507,0.009186,-0.002322,,0,Stage1,NaN,NaN
7809,7869431,OPEN,2024-03-31,13.0,2023-02-21,93561.99,167,1.0,0,0,...,0.071613,1.15073,0.011507,0.009186,-0.002322,,0,Stage1,NaN,NaN
7982,7869431,OPEN,2024-01-31,11.0,2023-02-21,364286.46,169,1.0,0,0,...,0.071613,1.15073,0.011507,0.009186,-0.002322,monitoring_paymentrelief,1,Stage2,NaN,NaN
7991,7869431,OPEN,2024-01-31,11.0,2023-02-21,364286.46,169,1.0,0,0,...,0.071613,1.15073,0.011507,0.009186,-0.002322,,0,Stage1,NaN,NaN

In [6]:
see['FBE'].value_counts()

FBE
                            20970
monitoring_previous_S3        264
monitoring_paymentrelief      158
Name: count, dtype: int64

In [7]:
see.AccountNumber.value_counts()

AccountNumber
7700172    6
7186398    5
7214836    4
7869431    4
7252893    4
          ..
7773914    1
9028754    1
9025123    1
9021247    1
7271729    1
Name: count, Length: 7690, dtype: int64

In [9]:

# Set option to display all columns
pd.set_option('display.max_columns', None)


see[see.AccountNumber == '7700172']

,AccountNumber,AccountStatus,SnapshotDate,MOB,DisbursedDate,CurrentAmount,RemainingTenor,CoappFlag,Ever30In6Months,WorstDelinquency6M,CurrentDelinquencyStatus,WorstDelinquency12M,Ever30In12Months,Ever90In12Months,Score,RiskClass,P,BehaviourModel,Ever90,ForberanceIn6Months,ForberanceIn12Months,FBE_eftergift,PDScoreNew,UCScore,age,Inquiries12M,PropertyVolume,AdmissionModel,ApplicationScore,AppliedApplicationScore,AdjustedBehaviourScore,PD_Delta,FBE,SICR,Stageing,Date,Instrument Rolling Mean
10591,7700172,OPEN,2024-02-29,26.0,2021-12-15,83932.87,109,1.0,0,0,0,0,0,0,1.484099,E3,0.390753,0.009186,0,1,1,0,NaN,0.001,52.0,2.0,1513100.0,0.025158,0.335849,0.003358,0.009186,0.005827,,0,Stage1,NaN,NaN
10593,7700172,OPEN,2024-02-29,26.0,2021-12-15,83932.87,109,1.0,0,0,0,0,0,0,1.484099,E3,0.390753,0.009186,0,1,1,1,NaN,0.001,52.0,2.0,1513100.0,0.025158,0.335849,0.003358,0.009186,0.005827,monitoring_paymentrelief,1,Stage2,NaN,NaN
10703,7700172,OPEN,2024-01-31,25.0,2021-12-15,84292.54,110,1.0,0,0,0,0,0,0,1.484099,E3,0.390753,0.009186,0,1,1,1,NaN,0.001,52.0,2.0,1513100.0,0.025158,0.335849,0.003358,0.009186,0.005827,monitoring_paymentrelief,1,Stage2,NaN,NaN
10718,7700172,OPEN,2024-03-31,27.0,2021-12-15,83568.69,108,1.0,0,0,0,0,0,0,1.877308,E3,0.390753,0.009186,0,1,1,1,NaN,0.001,52.0,2.0,1513100.0,0.025158,0.335849,0.003358,0.009186,0.005827,monitoring_paymentrelief,1,Stage2,NaN,NaN
10719,7700172,OPEN,2024-03-31,27.0,2021-12-15,83568.69,108,1.0,0,0,0,0,0,0,1.877308,E3,0.390753,0.009186,0,1,1,0,NaN,0.001,52.0,2.0,1513100.0,0.025158,0.335849,0.003358,0.009186,0.005827,,0,Stage1,NaN,NaN
10790,7700172,OPEN,2024-01-31,25.0,2021-12-15,84292.54,110,1.0,0,0,0,0,0,0,1.484099,E3,0.390753,0.009186,0,1,1,0,NaN,0.001,52.0,2.0,1513100.0,0.025158,0.335849,0.003358,0.009186,0.005827,,0,Stage1,NaN,NaN

In [7]:
set(see.ForbearanceName)

{'Capitalization',
 'Extension of maturity',
 None,
 'Payment Free Month',
 'Payment free month',
 'Permanent interest cut',
 'Temporary interest cut'}